{% if fields.quote|length %}
		<section class="{{ block.slug }} bg-{{ fields.bg }}">
		{% if block.anchor %}
			<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
		{% endif %}

		{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
		{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}

		<div class="container relative z-[2]">
			<div class="{{ pt }} {{ pb }}">
				<div class="quote ~px-[0rem]/[14.25rem]">
					{% set words = fields.quote|split(' ') %}
					{% set indent = '<span class="~w-[5.875rem]/[8.75rem] h-[1.25rem] shrink-0"></span>' %}

					<h5 class="quote-text">{{ indent }}
						{% for word in words %}
							<span class="word">{{ word }}&nbsp;</span>
						{% endfor %}
					</h5>
				</div>
			</div>
		</div>

		{% if fields.override_bg_graphic and fields.bg_graphic %}
			<div class="parallax absolute ~left-[-0.625rem]/[0rem] ~top-[1.875rem]/[4.375rem]">
				<img class="~w-[25.75rem]/[39.375rem] ~h-[10rem]/[17.5rem] object-contain object-left-top opacity-80" src="{{ function("wp_get_attachment_image_url", fields.bg_graphic, "full") }}" loading="lazy" alt="background graphic">
			</div>
		{% else %}
			<div class="parallax absolute ~left-[-15.875rem]/[-24rem] ~top-[1.875rem]/[4.375rem]">
				<img class="~w-[25.75rem]/[39.375rem] ~h-[5.5rem]/[8.6875rem] object-contain" src="{{ function("svg", "stats") }}" loading="lazy" alt="background graphic">
			</div>
		{% endif %}
	</section>
{% endif %}
