<section class="{{ block.slug }} bg-{{ fields.bg }} !overflow-clip">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xl" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}

	<div class="container relative">
		<div class="{{ pt }} {{ pb }} relative z-[2]">
			{% if gated_access_status == "approved" %}
				{% if assets|length and assets.total.count > 0 %}
					<div class="resource-list" data-download-text="{{ fields.downloading_state_text }}">
						<div class="flex max-lg:flex-col ~gap-[1.25rem]/[4rem]">
							{% if fields.tax_tree_level_1|length %}
								<div class="actions-container">
									<div class="actions-inner will-stick">
										<div class="search">
											<input placeholder="{{ fields.search_placeholder }}" type="text">

											<svg class="h-[1.1875rem] w-[1.1875rem]" width="19" height="19" viewbox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M8.2332 2.53333C5.0849 2.53333 2.5332 5.08503 2.5332 8.23333C2.5332 11.3816 5.0849 13.9333 8.2332 13.9333C11.3815 13.9333 13.9332 11.3816 13.9332 8.23333C13.9332 5.08503 11.3815 2.53333 8.2332 2.53333Z" stroke="#262626" stroke-miterlimit="10"/>
												<path d="M16.4666 16.4671L12.3101 12.3105" stroke="#262626" stroke-miterlimit="10" stroke-linecap="square"/>
											</svg>
										</div>

										<div class="dialog-trigger flex gap-[0.75rem] py-[0.625rem]">
											<svg class="w-[1.25rem] h-[1.25rem]" width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M17.7082 4.9043H14.7915" stroke="#262626" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"/>
												<path d="M12.2915 4.9043H2.2915" stroke="#262626" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"/>
												<path d="M2.2915 15.3223H11.4582" stroke="#262626" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"/>
												<path d="M13.9585 15.3223H17.7085" stroke="#262626" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"/>
												<path d="M2.2915 10.1133H5.20817" stroke="#262626" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"/>
												<path d="M7.7085 10.1133H17.7085" stroke="#262626" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"/>
												<path d="M13.5415 6.98893C12.8511 6.98893 12.2915 6.42935 12.2915 5.73893V4.07227C12.2915 3.38185 12.8511 2.82227 13.5415 2.82227C14.2319 2.82227 14.7915 3.38185 14.7915 4.07227V5.73893C14.7915 6.42935 14.2319 6.98893 13.5415 6.98893Z" stroke="#262626" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M12.7085 17.4049C12.0181 17.4049 11.4585 16.8454 11.4585 16.1549V14.4883C11.4585 13.7979 12.0181 13.2383 12.7085 13.2383C13.3989 13.2383 13.9585 13.7979 13.9585 14.4883V16.1549C13.9585 16.8454 13.3989 17.4049 12.7085 17.4049Z" stroke="#262626" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M6.4585 12.196C5.76808 12.196 5.2085 11.6364 5.2085 10.946V9.2793C5.2085 8.58888 5.76808 8.0293 6.4585 8.0293C7.14891 8.0293 7.7085 8.58888 7.7085 9.2793V10.946C7.7085 11.6364 7.14891 12.196 6.4585 12.196Z" stroke="#262626" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>

											<p>{{ fields.filter_title }}</p>
										</div>

										<dialog class="filters">
											<div class="dialog-inner">
												<div class="dialog-head">
													<p class="text-blue clear-all decoration-[0.0625rem] hover:underline underline-offset-[0.125rem]">{{ fields.clear_all_text }}</p>
													<p>{{ fields.filter_title }}</p>
													<p class="text-blue dialog-close decoration-[0.0625rem] hover:underline underline-offset-[0.125rem]">{{ fields.dialog_close_text }}</p>
												</div>

												<div class="dialog-body">
													<div class="dialog-body-inner">
														<div class="flex justify-between items-center pb-[0.75rem] border-b-[0.0625rem] border-b-gray-2">
															<small class="shrink-0 text-black-60">{{ fields.filter_title }}</small>

															<div class="clear-all shrink-0 cursor-pointer max-lg:hidden">
																<p class="text-black-60 sm hover:underline decoration-[0.0625rem] underline-offset-[0.125rem]">{{ fields.clear_all_text }}</p>
															</div>
														</div>

														<div class="dialog-taxonomy">
															{% for a in fields.tax_tree_level_1 %}
																{% if a.details.name and a.tax_tree_level_2|length %}
																	<div class="res-group {{ a.details.is_language ? "active" }}">
																		<div class="res-head">
																			<p>{{ a.details.name }}</p>

																			<svg class="h-[0.625rem] w-[0.625rem]" width="9" height="9" viewbox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
																				<line y1="4.5" x2="9" y2="4.5" stroke="black"/>
																				<line x1="4.5" y1="9" x2="4.5" y2="2.18557e-08" stroke="black"/>
																			</svg>
																		</div>

																		{% if a.details.has_children and a.tax_tree_level_2|length %}
																			<div class="res-body">
																				{% for b in a.tax_tree_level_2 %}
																					{% if b.details.name and b.details.id %}
																						{% set b_has_children = b.details.has_children and b.tax_tree_level_3|length %}
																						{% set b_collapsed = b.details.collapsed %}

																						<div class="res-filter {{ b_has_children ? " parent" }} {{ b_collapsed ? " collapsed" }}" data-level="B">
																							{% if not b_collapsed %}
																								<div class="res-filter-inner">
																									<input type="checkbox" {{ b.details.parent == "Language" and b.details.id == "847280D1-3D0E-4A4E-9B8813A365E0BF0F" ? "checked" }} value='{{ b.details.id != "NULL" ? b.details.id|split(',')|json_encode : ""|json_encode }}' name="category" data-parent="{{ b.details.parent }}">
																									<div class="res-box"></div>
																									<p>{{ b.details.name }}</p>

                                                                                                    {% if b_has_children %}
                                                                                                        <svg class="h-[0.625rem] w-[0.625rem]" width="9" height="9" viewbox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                                            <line y1="4.5" x2="9" y2="4.5" stroke="black"/>
                                                                                                            <line x1="4.5" y1="9" x2="4.5" y2="2.18557e-08" stroke="black"/>
                                                                                                        </svg>
                                                                                                    {% endif %}
																								</div>
																							{% else %}
																								<small>{{ b.details.name }}</small>
																							{% endif %}

																							{% if b_has_children %}
																								<div class="res-filter-children">
																									{% for c in b.tax_tree_level_3 %}
																										{% if c.details.name and c.details.id %}
																											{% set c_has_children = c.details.has_children and c.tax_tree_level_4|length %}
																											{% set c_has_tooltip = c.tooltip.tt_enabled and c.tooltip.tooltip_message %}
																											<div class="res-filter {{ c_has_children ? " parent" }}" data-level="C">
																												<div class="res-filter-inner">
																													<input type="checkbox" name="category" class="{{ b_collapsed ? "is-cols-child" }}" value='{{ c.details.id|split(',')|json_encode }}' data-parent="{{ c.details.parent }}" {{ b_collapsed ? "data-collapsed-name='" ~ b.details.parent ~ "' data-collapsed-value='" ~ b.details.id|split(',')|json_encode ~ "'" }}>
																													<div class="res-box"></div>
                                                                                                                    <div class="res-filter-name">
                                                                                                                        <p>{{ c.details.name }}</p>

                                                                                                                        {% if c_has_tooltip %}
                                                                                                                            <span class="res-tooltip">
                                                                                                                                <svg width="16" height="17" viewbox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                                                                    <g clip-path="url(#clip0_15_1913)">
                                                                                                                                        <path d="M7.99996 1.45996C4.09596 1.45996 0.959961 4.59596 0.959961 8.49996C0.959961 12.404 4.09596 15.54 7.99996 15.54C11.904 15.54 15.04 12.404 15.04 8.49996C15.04 4.59596 11.904 1.45996 7.99996 1.45996Z" stroke="#B6B5B1" stroke-miterlimit="10" stroke-linecap="round"/>
                                                                                                                                        <path d="M8.00004 5.94002C8.53023 5.94002 8.96004 5.51021 8.96004 4.98002C8.96004 4.44983 8.53023 4.02002 8.00004 4.02002C7.46985 4.02002 7.04004 4.44983 7.04004 4.98002C7.04004 5.51021 7.46985 5.94002 8.00004 5.94002Z" fill="#B6B5B1"/>
                                                                                                                                        <path d="M8.64021 12.02V7.21997H6.72021V7.85997H7.36021V12.02H6.72021V12.66H9.28021V12.02H8.64021Z" fill="#B6B5B1"/>
                                                                                                                                    </g>
                                                                                                                                    <defs>
                                                                                                                                        <clipPath id="clip0_15_1913">
                                                                                                                                            <rect width="16" height="16" fill="white" transform="translate(0 0.5)"/>
                                                                                                                                        </clipPath>
                                                                                                                                    </defs>
                                                                                                                                </svg>

                                                                                                                                <span class="hidden">
                                                                                                                                    <span class="res-tooltip-content">
                                                                                                                                        <p class="xs">{{ c.tooltip.tooltip_message }}</p>
                                                                                                                                    </span>
                                                                                                                                </span>
                                                                                                                            </span>
                                                                                                                        {% endif %}
                                                                                                                    </div>

																													{% if c_has_children %}
																														<svg class="h-[0.625rem] w-[0.625rem]" width="9" height="9" viewbox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
																															<line y1="4.5" x2="9" y2="4.5" stroke="black"/>
																															<line x1="4.5" y1="9" x2="4.5" y2="2.18557e-08" stroke="black"/>
																														</svg>
																													{% endif %}
																												</div>

																												{% if c_has_children %}
																													<div class="res-filter-children">
																														{% for d in c.tax_tree_level_4 %}
																															{% if d.details.name and d.details.id %}
																																{% set d_has_children = d.details.has_children and d.tax_tree_level_5|length %}
																																{% set d_collapsed = d.details.collapsed %}

																																<div class="res-filter {{ d_has_children ? " parent" }} {{ d_collapsed ? " collapsed" }}" data-level="D">
																																	{% if not d_collapsed %}
																																		<div class="res-filter-inner">
																																			<input type="checkbox" value='{{ d.details.id != "NULL" ? d.details.id|split(',')|json_encode : ""|json_encode }}' name="category" data-parent="{{ d.details.parent }}">
																																			<div class="res-box"></div>
																																			<p>{{ d.details.name }}</p>

                                                                                                                                            {% if d_has_children %}
                                                                                                                                                <svg class="h-[0.625rem] w-[0.625rem]" width="9" height="9" viewbox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                                                                                    <line y1="4.5" x2="9" y2="4.5" stroke="black"/>
                                                                                                                                                    <line x1="4.5" y1="9" x2="4.5" y2="2.18557e-08" stroke="black"/>
                                                                                                                                                </svg>
                                                                                                                                            {% endif %}
																																		</div>
																																	{% else %}
																																		<small>{{ d.details.name }}</small>
																																	{% endif %}

																																	{% if d_has_children %}
																																		<div class="res-filter-children">
																																			{% for e in d.tax_tree_level_5 %}
																																				{% if e.details.name and e.details.id %}
																																					{% set e_has_children = e.details.has_children and e.tax_tree_level_6|length %}
																																					{% set e_collapsed = e.details.collapsed %}

																																					<div class="res-filter {{ e_has_children ? " parent" }} {{ e_collapsed ? " collapsed" }}" data-level="E">
																																						{% if not e_collapsed %}
																																							<div class="res-filter-inner">
																																								<input type="checkbox" class="{{ d_collapsed ? "is-cols-child" }}" value='{{ e.details.id|split(',')|json_encode }}' name="category" data-parent="{{ e.details.parent }}" {{ d_collapsed ? "data-collapsed-name='" ~ d.details.parent ~ "' data-collapsed-value='" ~ d.details.id|split(',')|json_encode ~ "'" }}>
																																								<div class="res-box"></div>
																																								<p>{{ e.details.name }}</p>

                                                                                                                                                                {% if e_has_children %}
                                                                                                                                                                    <svg class="h-[0.625rem] w-[0.625rem]" width="9" height="9" viewbox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                                                                                                        <line y1="4.5" x2="9" y2="4.5" stroke="black"/>
                                                                                                                                                                        <line x1="4.5" y1="9" x2="4.5" y2="2.18557e-08" stroke="black"/>
                                                                                                                                                                    </svg>
                                                                                                                                                                {% endif %}
																																							</div>
																																						{% else %}
																																							<small>{{ e.details.name }}</small>
																																						{% endif %}

																																						{% if e_has_children %}
																																							<div class="res-filter-children">
																																								{% for f in e.tax_tree_level_6 %}
																																									{% if f.details.name and f.details.id %}
																																										<div class="res-filter" data-level="F">
																																											<div class="res-filter-inner">
																																												<input type="checkbox" class="{{ e_collapsed ? "is-cols-child" }}" value='{{ f.details.id|split(',')|json_encode }}' name="category" data-parent="{{ f.details.parent }}" {{ e_collapsed ? "data-collapsed-name='" ~ e.details.parent ~ "' data-collapsed-value='" ~ e.details.id|split(',')|json_encode ~ "'" }}>
																																												<div class="res-box"></div>
																																												<p>{{ f.details.name }}</p>
																																											</div>
																																										</div>
																																									{% endif %}
																																								{% endfor %}
																																							</div>
																																						{% endif %}
																																					</div>
																																				{% endif %}
																																			{% endfor %}
																																		</div>
																																	{% endif %}
																																</div>
																															{% endif %}
																														{% endfor %}
																													</div>
																												{% endif %}
																											</div>
																										{% endif %}
																									{% endfor %}
																								</div>
																							{% endif %}
																						</div>
																					{% endif %}
																				{% endfor %}
																			</div>
																		{% endif %}
																	</div>
																{% endif %}
															{% endfor %}
														</div>
													</div>

													<div class="btn filled blue dialog-close mt-[1.25rem] lg:hidden w-full" type="button">
														<svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
															<path d="M8.55697 10.375L11.8486 6.94618L8.55697 3.51736" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
															<path d="M1.01411 0.500006L1.0141 5.84896C1.0141 6.45463 1.50566 6.94618 2.11133 6.94618L11.9863 6.94618" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
														</svg>

														<p>{{ fields.dialog_apply_text }}</p>
													</div>
												</div>
											</div>
										</dialog>
									</div>
								</div>
							{% endif %}

							<div class="items-container">
								<div class="items" data-per-page="{{ base_count }}">
									{% for asset in assets.media %}
										{% if asset %}
											{% set asset_date = asset.dateCreated|date("n/j/Y") %}

                                            {% if function("get_language", true) != "English" %}
                                                {% set asset_date = asset.dateCreated|date("j/n/Y") %}
                                            {% endif %}

											{% set asset_extension = asset.extension[0] %}
											{% set asset_icon = asset_extension == "pdf" ? function("svg", "pdf") : function("svg", "zip") %}
											{% set asset_subtext = asset.description ? asset.description : asset.name ~ "." ~ asset_extension %}
											{# {% set asset_type = function("omb_get_asset_summary", taxonomies, asset) %} #}
                                            {# {% set asset_type = "Asset" %} #}
                                            {# {% set asset_type = asset.property_Asset_Sub_Type %} #}
                                            {% set asset_type = asset.property_Asset_Type[0] %}

                                            {% if asset_type == "Software" and asset.property_Software_Phase %}
                                                {% set asset_type = asset_type ~ " → " ~ function("omb_get_option_label_by_mame", metas.Software_Phase, asset.property_Software_Phase[0]) %}
                                            {% endif %}
                                            

											<div class="res-card active" data-asset-id="{{ asset.id }}">
												<div class="res-card-inner">
													<div class="res-card-head">
														<div class="res-card-brow">
															<div class="res-card-brow-square"></div>
															<small>{{ asset_type }}</small>
														</div>

														<small>{{ asset_date }}</small>
													</div>

													<p class="main-title lg">{{ asset.name }}</p>

													<div class="res-card-foot">
														<div class="res-card-icon">
															{% if asset_extension == "pdf" %}
																<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.9988 10.8984V6.08485C15.9983 4.81952 15.4954 3.60615 14.6005 2.71157C13.7056 1.817 12.4921 1.31445 11.2268 1.31445H1.62288C1.41106 1.31445 1.20792 1.3986 1.05814 1.54838C0.908363 1.69815 0.824219 1.9013 0.824219 2.11311V18.885C0.824219 19.0968 0.908363 19.2999 1.05814 19.4497C1.20792 19.5995 1.41106 19.6836 1.62288 19.6836H4.00129" stroke="#1263FF" stroke-linecap="round" stroke-linejoin="round"/><path d="M12.0054 1.37891V4.51046C12.0054 4.72227 12.0895 4.92542 12.2393 5.07519C12.3891 5.22497 12.5922 5.30912 12.804 5.30912H15.9348" stroke="#1263FF" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.5921 14.8922C9.5921 15.102 9.55079 15.3097 9.47052 15.5035C9.39024 15.6973 9.27258 15.8734 9.12426 16.0217C8.97593 16.17 8.79985 16.2877 8.60605 16.368C8.41225 16.4482 8.20455 16.4896 7.99478 16.4896H6.39746V13.2949H7.99478C8.41842 13.2949 8.8247 13.4632 9.12426 13.7628C9.42381 14.0623 9.5921 14.4686 9.5921 14.8922Z" stroke="#1263FF" stroke-linecap="round" stroke-linejoin="round"/><path d="M6.39746 19.6829V16.4883" stroke="#1263FF" stroke-linecap="round" stroke-linejoin="round"/><path d="M11.189 13.2949C12.0362 13.2949 12.8488 13.6315 13.4479 14.2306C14.047 14.8297 14.3836 15.6423 14.3836 16.4896C14.3836 17.3368 14.047 18.1494 13.4479 18.7485C12.8488 19.3476 12.0362 19.6842 11.189 19.6842V13.2949Z" stroke="#1263FF" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.981 19.6842V14.4929C15.981 14.1752 16.1072 13.8705 16.3318 13.6458C16.5565 13.4211 16.8612 13.2949 17.1789 13.2949H19.1756" stroke="#1263FF" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.981 16.4883H17.9776" stroke="#1263FF" stroke-linecap="round" stroke-linejoin="round"/></svg>
															{% else %}
																<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.16645 3.925C9.18762 4.09819 9.17187 4.2739 9.1202 4.44053C9.06845 4.60716 8.98195 4.76093 8.86645 4.89167C8.74762 5.0237 8.60245 5.12928 8.4402 5.20155C8.27798 5.27381 8.10236 5.31116 7.92477 5.31116C7.74717 5.31116 7.57155 5.27381 7.40933 5.20155C7.24709 5.12928 7.10188 5.0237 6.9831 4.89167C6.86461 4.76233 6.77507 4.6092 6.72046 4.4425C6.66586 4.27581 6.64743 4.09939 6.66643 3.925L6.97476 0.916672H8.74978L9.16645 3.925Z" stroke="#1263FF" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.91781 7.37499C7.80275 7.37499 7.70947 7.28172 7.70947 7.16666C7.70947 7.0516 7.80275 6.95833 7.91781 6.95833" stroke="#1263FF"/><path d="M7.91748 7.37499C8.03254 7.37499 8.12581 7.28172 8.12581 7.16666C8.12581 7.0516 8.03254 6.95833 7.91748 6.95833" stroke="#1263FF"/><path d="M7.91781 9.45834C7.80275 9.45834 7.70947 9.36509 7.70947 9.25001C7.70947 9.13492 7.80275 9.04167 7.91781 9.04167" stroke="#1263FF"/><path d="M7.91748 9.45834C8.03254 9.45834 8.12581 9.36509 8.12581 9.25001C8.12581 9.13492 8.03254 9.04167 7.91748 9.04167" stroke="#1263FF"/><path d="M7.91781 11.5417C7.80275 11.5417 7.70947 11.4484 7.70947 11.3333C7.70947 11.2182 7.80275 11.125 7.91781 11.125" stroke="#1263FF"/><path d="M7.91748 11.5417C8.03254 11.5417 8.12581 11.4484 8.12581 11.3333C8.12581 11.2182 8.03254 11.125 7.91748 11.125" stroke="#1263FF"/><path d="M7.91781 13.625C7.80275 13.625 7.70947 13.5317 7.70947 13.4167C7.70947 13.3016 7.80275 13.2083 7.91781 13.2083" stroke="#1263FF"/><path d="M7.91797 13.625C8.03303 13.625 8.1263 13.5317 8.1263 13.4167C8.1263 13.3016 8.03303 13.2083 7.91797 13.2083" stroke="#1263FF"/><path d="M7.91781 15.7083C7.80275 15.7083 7.70947 15.6151 7.70947 15.5C7.70947 15.3849 7.80275 15.2917 7.91781 15.2917" stroke="#1263FF"/><path d="M7.91797 15.7083C8.03303 15.7083 8.1263 15.6151 8.1263 15.5C8.1263 15.3849 8.03303 15.2917 7.91797 15.2917" stroke="#1263FF"/><path d="M7.91781 17.7917C7.80275 17.7917 7.70947 17.6984 7.70947 17.5833C7.70947 17.4682 7.80275 17.375 7.91781 17.375" stroke="#1263FF"/><path d="M7.91797 17.7917C8.03303 17.7917 8.1263 17.6984 8.1263 17.5833C8.1263 17.4682 8.03303 17.375 7.91797 17.375" stroke="#1263FF"/><path d="M17.6752 4.25002C17.7524 4.32789 17.8135 4.42023 17.855 4.52176C17.8964 4.6233 17.9175 4.73201 17.9168 4.84169V19.25C17.9168 19.471 17.829 19.683 17.6727 19.8393C17.5165 19.9956 17.3045 20.0833 17.0835 20.0833H2.91683C2.69581 20.0833 2.48385 19.9956 2.32757 19.8393C2.1713 19.683 2.0835 19.471 2.0835 19.25V1.75002C2.0835 1.529 2.1713 1.31704 2.32757 1.16076C2.48385 1.00448 2.69581 0.916686 2.91683 0.916686H13.9918C14.1015 0.916052 14.2102 0.937072 14.3117 0.978542C14.4132 1.02001 14.5057 1.08112 14.5835 1.15835L17.6752 4.25002Z" stroke="#1263FF" stroke-linecap="round" stroke-linejoin="round"/></svg>
															{% endif %}
														</div>

														<p class="sm">{{ asset_subtext }}</p>
													</div>
												</div>
											</div>
										{% endif %}
									{% endfor %}
								</div>

								<div class="load-state">
									<p class="lg">{{ fields.fetching_state_text }}</p>
								</div>

								<div class="empty-state">
									<h6>{{ fields.empty_state_main_text }}</h6>
									<p class="text-black-60">{{ fields.empty_state_subtext }}</p>
								</div>

								{% if assets.total.count > base_count %}
									<div class="see-more mx-auto active">
										<div class="btn has-arrow blue filled">
											<svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M8.55697 10.375L11.8486 6.94618L8.55697 3.51736" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
												<path d="M1.01411 0.500006L1.0141 5.84896C1.0141 6.45463 1.50566 6.94618 2.11133 6.94618L11.9863 6.94618" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
											</svg>

											<p>{{ fields.load_more_text }}</p>
										</div>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				{% else %}
					<div class="empty-state active">
						<h6>{{ fields.zero_assets_found_text }}</h6>
					</div>
				{% endif %}
			{% else %}
				<div class="gated-cform" data-blacklisted-emails='{{ processed_blacklisted_domains|json_encode }}'>
					<div class="bg-blue rounded-[0.5rem] ~p-[2rem]/[6rem] relative z-[4]">
						<div class="flex flex-col md:flex-row justify-between ~gap-[1.25rem]/[9rem]">
							{% if fields.heading.value or fields.paragraph %}
								<div class="md:flex-1 md:basis-[27.8125rem] flex flex-col gap-[1.5rem]">
									{% include 'components/heading.twig' with {
                                        'class': 'main-title text-white',
                                        'value': fields.heading.value, 
                                        'type': fields.heading.type != "default" ? fields.heading.type : "h4",
                                        'has_custom_style': fields.heading.has_custom_style,
                                        'style': fields.heading.style,
                                        'to_words': true
                                    } %}

									{% if fields.paragraph and gated_access_status == "invalid" %}
										<p class="status-text para-desc default active">{{ fields.paragraph }}</p>
									{% endif %}

									<p class="status-text para-desc approved">{{ fields.approved }}</p>
									<p class="status-text para-desc denied {{ gated_access_status == " denied" ? " active" }}">{{ fields.denied }}</p>
									<p class="status-text para-desc pending {{ gated_access_status == " pending" ? " active" }}">{{ fields.pending }}</p>
									<p class="status-text para-desc error">{{ fields.error }}</p>
								</div>
							{% endif %}

							{% if gated_access_status == "invalid" %}
								{% set region = fields.hubspot_form.region %}
								{% set form_id = fields.hubspot_form.form_id %}
								{% set portal_id = fields.hubspot_form.portal_id %}
                                {% set lang_code = function("get_language") %}

                                {% if lang_code != "en" %}
                                    {% set form_id = fields.hubspot_form["form_id_" ~ lang_code] ?: fields.hubspot_form.form_id %}
                                {% endif %}

								{% if region and form_id and portal_id %}
									<div class="gated-cform-inner">
										<div class="gated-cform-step one active">
											<div class="gated-cform-checker">
												<input type="email" required placeholder="Email">

												<div class="gated-cform-error"></div>

												<div class="btn filled white gated-cform-check">
													<svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M8.55697 10.375L11.8486 6.94618L8.55697 3.51736" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
														<path d="M1.01411 0.500006L1.0141 5.84896C1.0141 6.45463 1.50566 6.94618 2.11133 6.94618L11.9863 6.94618" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
													</svg>
													<p>{{ "Submit" }}</p>
												</div>
											</div>
										</div>

										<div class="gated-cform-step two">
											<div class="form-container gated-form" data-region="{{ region }}" data-form-id="{{ form_id }}" data-portal-id="{{ portal_id }}"></div>
										</div>
									</div>
								{% endif %}
							{% endif %}
						</div>

						{% if fields.image %}
							<div class="parallax absolute left-[5.3125rem] bottom-0">
								{% include 'components/image.twig' with {
                                    'image': fields.image,
                                    'loading': "eager",
                                    'class': 'object-contain',
                                    'size': [257, 324]
                                } %}
							</div>
						{% endif %}
					</div>
				</div>

				<div class="lottie-container absolute bottom-0 w-full center-x min-w-[90rem]">
					<div class="lottie" data-json="{{ function("json", "lottie/green-trail-on-light") }}"></div>
				</div>
			{% endif %}
		</div>
	</div>

	{% if taxonomy_ids %}
		<script>
			window.resBaseTaxonomyIds = {{ taxonomy_ids|json_encode }};
		</script>
	{% endif %}

    {% if metas %}
		<script>
            window.resMetas = {{ metas|json_encode }};
		</script>
	{% endif %}

	<dialog class="download">
		<div class="res-dialog-close">
			<svg class="h-[1.25rem] w-[1.25rem]" width="21" height="21" viewbox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M3.42969 3.40723L17.5718 17.5494" stroke="white" stroke-opacity="0.6"/>
				<path d="M3.42969 17.5498L17.5718 3.40767" stroke="white" stroke-opacity="0.6"/>
			</svg>
		</div>

		<div class="res-dialog">
			<p class="lg">{{ fields.download_dialog_text }}</p>

			<div class="flex gap-[0.75rem]">
				<div class="confirm btn has-arrow filled blue">
					<svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.55697 10.375L11.8486 6.94618L8.55697 3.51736" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
						<path d="M1.01411 0.500006L1.0141 5.84896C1.0141 6.45463 1.50566 6.94618 2.11133 6.94618L11.9863 6.94618" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
					</svg>

					<p>{{ fields.download_confirm_text }}</p>
				</div>

				<div class="cancel btn has-arrow has-border blue">
					<svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.55697 10.375L11.8486 6.94618L8.55697 3.51736" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
						<path d="M1.01411 0.500006L1.0141 5.84896C1.0141 6.45463 1.50566 6.94618 2.11133 6.94618L11.9863 6.94618" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
					</svg>

					<p>{{ fields.download_cancel_text }}</p>
				</div>
			</div>
		</div>
	</dialog>
</section>
