<section class="pt-[3.75rem] pb-[5rem]">
	<div class="container">
		{% if header_nav_item %}
			<div class="flex flex-col gap-[3.75rem]">
				{% for nav_item in header_nav_item %}
					{% set nav_index = loop.index %}

					{% if not nav_item.is_cta %}
						{% if nav_item.is_parent %}
							<div class="flex flex-col gap-[1.5rem]">
								<h5>{{ nav_item.name }}</h5>

								{% if nav_item.is_parent %}
									{% set dp = nav_item.dropdown_panel %}

									{% set is_products = dp.is_products %}
									{% set bottom_cta = dp.bottom_cta %}

									{% set nav_group = dp.nav_group %}

									{% set has_feature = dp.has_feature %}
									{% set ft = dp.feature %}

									{% if nav_group|length %}
										<div>
											<div class="flex flex-col gap-[1.25rem]">
												<div class="nav__dd-back">
													<svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M4.44255 10.375L1.15088 6.94618L4.44254 3.51736" stroke="#262626" stroke-opacity="0.6" stroke-width="1.5" stroke-miterlimit="10"/>
														<path d="M11.9859 0.500098L11.9859 5.84905C11.9859 6.45472 11.4943 6.94627 10.8887 6.94627L1.01367 6.94627" stroke="#262626" stroke-opacity="0.6" stroke-width="1.5" stroke-miterlimit="10"/>
													</svg>

													<p>Back</p>
												</div>

												<div class="flex gap-[2.5rem]">
													<div class="grid grid-cols-3 gap-[1.25rem] flex-1">
														{% for group in nav_group %}
															{% set nav_group_index = loop.index %}

															<div class="nav__dd-group">
																{% if group.is_title_a_link %}
																	{% if group.title_link %}
																		{% set link_url = group.title_link.url ?: "#" %}
																		{% set link_title = group.title_link.title %}
																		{% set link_target = group.title_link.target ?: "_self" %}

																		<a class="uline" href="{{ link_url }}" target="{{ link_target }}">
																			<p class="lg">{{ link_title }}</p>
																		</a>
																	{% endif %}
																{% else %}
																	{% if group.title %}
																		<p class="lg">{{ group.title }}</p>
																	{% endif %}
																{% endif %}

																{% if group.links|length %}
																	<div class="nav__dd-group-links">
																		{% for child in group.links %}
																			{% set child_index = loop.index %}

																			{% if child.nav_link %}
																				{% set link_url = child.nav_link.url ?: "#" %}
																				{% set link_title = child.nav_link.title %}
																				{% set link_target = child.nav_link.target ?: "_self" %}

																				<a class="nav__dd-group-link" href="{{ link_url }}" target="{{ link_target }}" {{ is_products ? 'data-product-index="' ~ nav_index ~ nav_group_index ~ child_index ~ '"' }}>
																					<p>{{ link_title }}</p>
																				</a>
																			{% endif %}
																		{% endfor %}
																	</div>
																{% endif %}
															</div>
														{% endfor %}
													</div>

													<div class="nav__dd-feature">
														{% if not is_products and has_feature %}
															{% set eyebrow = ft.eyebrow %}
															{% set thumbnail = ft.thumbnail %}
															{% set link = ft.feature_link %}

															<div class="nav__dd-feature-inner">
																{% include 'components/image.twig' with {
                                                                    'image': thumbnail,
                                                                    'size': [318, 226],
                                                                } %}

																{% include 'components/eyebrow.twig' with {
                                                                    'text': eyebrow,
                                                                    'textClass' : 'text-black'
                                                                } %}
															</div>

															{% if link %}
																{% set link_url = link.url ?: "#" %}
																{% set link_title = link.title %}
																{% set link_target = link.target ?: "_self" %}

																<a class="nav__dd-feature-cta" href="{{ link_url }}" target="{{ link_target }}">
																	<p>{{ link_title }}</p>

																	<svg class="w-[1rem] h-[1.0625rem]" width="16" height="17" viewbox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<g>
																			<path class="stroke-[0.0938rem]" d="M8 1.42931L14.6667 8.09598L8 14.7626M0 8.09598H14.302" stroke="#262626" stroke-width="1.5" stroke-miterlimit="10"/>
																		</g>
																	</svg>
																</a>
															{% endif %}
														{% endif %}
													</div>
												</div>

												{% if bottom_cta %}
													{% set link_url = bottom_cta.url ?: "#" %}
													{% set link_title = bottom_cta.title %}
													{% set link_target = bottom_cta.target ?: "_self" %}

													<a class="nav__dd-bc" href="{{ link_url }}" target="{{ link_target }}">
														<svg class="h-[0.875rem] w-[0.875rem]" width="13" height="14" viewbox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
															<path class="stroke-[0.0938rem]" d="M8.55745 11.2653L11.8491 7.8365L8.55746 4.40768" stroke="#262626" stroke-opacity="0.6" stroke-width="1.5" stroke-miterlimit="10"/>
															<path class="stroke-[0.0938rem]" d="M1.01411 1.39033L1.0141 6.73928C1.0141 7.34494 1.50566 7.8365 2.11133 7.8365L11.9863 7.8365" stroke="#262626" stroke-opacity="0.6" stroke-width="1.5" stroke-miterlimit="10"/>
														</svg>

														<p>{{ link_title }}</p>
													</a>
												{% endif %}
											</div>
										</div>
									{% endif %}
								{% endif %}
							</div>
						{% else %}
							{% if nav_item.link %}
								{% set link_url = nav_item.link.url ?: "#" %}
								{% set link_title = nav_item.link.title %}
								{% set link_target = nav_item.link.target ?: "_self" %}

								<a href="{{ link_url }}" target="{{ link_target }}">
									<h5>{{ nav_item.name }}</h5>
								</a>
							{% endif %}
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}
	</div>
</section>

<section class="bg-black py-[3.75rem]">
	<div class="container">
		<div class="flex flex-col gap-[2.5rem]">
            <div class="flex flex-col gap-[2.5rem]">
                {% if prefooter_heading %}
                    <h1 class="text-white">{{ prefooter_heading }}</h1>
                {% endif %}

                {% include 'components/cta.twig' with {
                    'class' : 'filled blue',
                    'cta': prefooter_cta, 
                    'icon': true,
                } %}
            </div>

			<div class="footer__to-top uline uline-light">
				<p class="text-white">{{ back_to_top }}</p>
				<svg class="h-[0.8125rem] w-[0.8125rem]" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g>
						<path d="M10.7871 4.53045L7.24536 1.13037L3.7036 4.53045" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
						<path d="M0.588565 12.3229L6.11369 12.3229C6.73931 12.3229 7.24705 11.8151 7.24705 11.1895L7.24705 0.989258" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
					</g>
				</svg>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="footer__inner">
			<div class="footer__overview">
				<div class="footer__form">
					{% include 'components/eyebrow.twig' with {
                        'text': footer_form_label,
                        'textClass': 'text-white-60',
                    } %}

					<div class="footer__form-inner">
						<input type="email" placeholder="Email address">

						<a class="btn has-border white has-arrow" type="button" href="#">
							<svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8.55697 10.375L11.8486 6.94618L8.55697 3.51736" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
								<path d="M1.01411 0.500006L1.0141 5.84896C1.0141 6.45463 1.50566 6.94618 2.11133 6.94618L11.9863 6.94618" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
							</svg>
							<p>Subscribe</p>
						</a>
					</div>
				</div>
			</div>

			{% if primary_footer_nav_columns|length %}
				<div class="footer__columns">
					{% for nav_column in primary_footer_nav_columns %}
						<div class="footer__column">
							{% for nav_item in nav_column.primary_footer_nav_item %}
								<div class="footer__group">
									{% if nav_item.child_nav_item|length %}
										{% for child in nav_item.child_nav_item %}
											{% if child.link %}
												{% set link_url = child.link.url ?: "#" %}
												{% set link_title = child.link.title %}
												{% set link_target = child.link.target ?: "_self" %}

												<a class="footer__item uline uline-light" href="{{ link_url }}" target="{{ link_target }}">
													<p>{{ link_title }}</p>
												</a>
											{% endif %}
										{% endfor %}
									{% endif %}
								</div>
							{% endfor %}

							{% if loop.last %}
								{% if footer_social|length %}
									<div class="footer__socials desktop">
										{% if footer_social_label %}
											<p class="text-white sm">{{ footer_social_label }}</p>
										{% endif %}

										<div class="footer__socials-inner">
											{% for social in footer_social %}
												{% set social_icon = social.icon %}
												{% set social_link = social.link ?: "#" %}

												<a href="{{ social_link|lower }}" target="_blank" class="footer__social" rel="nofollow noreferrer noopen">
													{% include 'components/image.twig' with {
                                                        'image': social_icon,
                                                        'class': 'object-contain',
                                                        'size': "full",
                                                    } %}
												</a>
											{% endfor %}
										</div>
									</div>
								{% endif %}
							{% endif %}
						</div>
					{% endfor %}
				</div>
			{% endif %}

			{% if footer_social|length %}
				<div class="footer__socials mobile">
					{% if footer_social_label %}
						<p class="text-white sm">{{ footer_social_label }}</p>
					{% endif %}

					<div class="footer__socials-inner">
						{% for social in footer_social %}
							{% set social_icon = social.icon %}
							{% set social_link = social.link ?: "#" %}

							<a href="{{ social_link|lower }}" target="_blank" class="footer__social" rel="nofollow noreferrer noopen">
								{% include 'components/image.twig' with {
                                    'image': social_icon,
                                    'class': 'object-contain',
                                    'size': "full",
                                } %}
							</a>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>

	<div class="footer__foot">
		<div class="container">
			<div class="footer__foot-inner">
				{% if footer_credits %}
					<div class="footer__credits">{{ function('do_shortcode', footer_credits) }}</div>
				{% endif %}

				{% if secondary_footer_nav_item %}
					<div class="footer__foot-items">
						{% for nav_item in secondary_footer_nav_item %}
							{% if nav_item.link %}
								{% set link_url = nav_item.link.url ?: "#" %}
								{% set link_title = nav_item.link.title %}
								{% set link_target = nav_item.link.target ?: "_self" %}

								<a class="footer__item secondary" href="{{ link_url }}" target="{{ link_target }}">
									<p>{{ link_title }}</p>
								</a>
							{% endif %}
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>

