<nav class="nav {{ function("is_search") ? "regular" : override_nav_theme and nav_theme ? nav_theme : function("get_nav_theme") }}">
	<div class="nav__outer">
		<div class="container">
			<div class="nav__inner">
				<a href="{{ function('home_url') }}" class="nav__logo">
                    {# <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 989.16 277.22">
                        <g>
                            <path class="st0" d="M96.17,152.04c-30.86,0-55.87-25.02-55.87-55.87s25.01-55.87,55.87-55.87,55.87,25.02,55.87,55.87-25.01,55.87-55.87,55.87M96.17,192.33c53.11,0,96.16-43.05,96.16-96.17S149.28,0,96.17,0,0,43.05,0,96.16s43.06,96.17,96.17,96.17"/>
                            <path class="st0" d="M719.88,192.33c-53.11,0-96.16-43.05-96.16-96.16S666.77,0,719.88,0s96.17,43.05,96.17,96.17-43.05,96.16-96.17,96.16M719.88,152.04c30.87,0,55.88-25.02,55.88-55.87s-25.01-55.87-55.88-55.87-55.86,25.02-55.86,55.87,25.01,55.87,55.86,55.87"/>
                            <path class="st0" d="M213.39,5.84v181.92h40.3V39.38h43.97v148.38h40.3V39.38h15.57c15.68,0,28.39,12.71,28.39,28.4v119.98h40.3v-119.07c0-35.41-28.7-64.12-64.11-64.12h-104.25c-13.6,0-27.09.43-40.47,1.26Z"/>
                            <path class="st0" d="M835.26,5.84l.02,181.92h40.29V39.38h44.89c15.67,0,28.39,12.71,28.39,28.4v119.98h40.3v-119.07c0-35.41-28.7-64.12-64.12-64.12h-49.51c-13.54,0-26.92.43-40.26,1.26Z"/>
                            <path class="st0" d="M453.37,5.84v181.92s40.28,0,40.28,0V39.38h47.63c15.68,0,28.39,12.71,28.39,28.4s-12.71,28.39-28.39,28.39h-34.8l62.28,91.59h49.45l-44.83-65.91c21.45-8.59,36.59-29.56,36.59-54.07,0-34.9-28.29-63.2-63.2-63.2h-53.15c-13.53,0-26.94.43-40.26,1.26Z"/>
                        </g>
                        <g>
                            <path class="st0" d="M201.29,256.84v17.27c0,2.07-1.4,3.1-4.06,3.1s-3.91-1.03-3.91-3.1v-45.77c0-1.7,1.18-2.58,3.4-2.58h34.7c15.28,0,22.96,4.13,22.96,12.55v5.46c0,8.19-7.68,12.33-22.96,12.33h-17.64l34.25,15.06c1.55.66,2.21,1.55,2.21,2.88,0,1.92-1.48,3.17-4.06,3.17-1.11,0-1.62-.15-2.81-.74l-42.08-19.64ZM201.29,250.49h30.34c9.89,0,14.77-2.21,14.77-6.72v-5.32c0-4.43-4.87-6.64-14.69-6.64h-29.83c-.37,0-.59.15-.59.52v18.16Z"/>
                            <path class="st0" d="M303.69,276.85c-14.4,0-21.63-4.72-21.63-14.17v-22.81c0-9.38,7.09-14.1,21.26-14.1h16.46c14.17,0,21.26,4.72,21.26,14.1v22.81c0,9.45-7.23,14.17-21.63,14.17h-15.72ZM333.08,240.01c0-5.46-4.5-8.19-13.44-8.19h-16.17c-8.93,0-13.44,2.73-13.44,8.19v22.44c0,5.54,4.5,8.34,13.58,8.34h15.87c9.08,0,13.58-2.81,13.58-8.34v-22.44Z"/>
                            <path class="st0" d="M430.6,265.62c0,7.53-6.35,11.22-18.97,11.22h-37.95c-2.29,0-3.54-.96-3.54-2.88v-45.33c0-1.92,1.25-2.88,3.54-2.88h36.76c12.84,0,19.34,4.06,19.34,12.18v4.21c0,3.91-2.07,6.79-6.13,8.79,4.58,2.07,6.94,5.24,6.94,9.52v5.17ZM421.89,238.16c0-4.21-3.76-6.35-11.37-6.35h-31.82c-.37,0-.59.15-.59.52v15.95h33c7.16,0,10.78-1.99,10.78-5.98v-4.13ZM422.63,260.16c0-4.13-3.76-6.2-11.29-6.2h-33.22v16.32c0,.37.22.52.59.52h32.63c7.53,0,11.29-1.92,11.29-5.83v-4.8Z"/>
                            <path class="st0" d="M480.22,276.85c-14.4,0-21.63-4.72-21.63-14.17v-22.81c0-9.38,7.09-14.1,21.26-14.1h16.46c14.17,0,21.26,4.72,21.26,14.1v22.81c0,9.45-7.23,14.17-21.63,14.17h-15.72ZM509.6,240.01c0-5.46-4.5-8.19-13.44-8.19h-16.17c-8.93,0-13.44,2.73-13.44,8.19v22.44c0,5.54,4.5,8.34,13.58,8.34h15.87c9.08,0,13.58-2.81,13.58-8.34v-22.44Z"/>
                            <path class="st0" d="M565.79,231.81h-20.15c-2.44,0-3.69-.96-3.69-3.03s1.25-3.03,3.69-3.03h48.21c2.51,0,3.76,1.03,3.76,2.95,0,2.07-1.25,3.1-3.76,3.1h-20.08v42.3c0,2.07-1.33,3.1-3.91,3.1-2.73,0-4.06-1.03-4.06-3.1v-42.3Z"/>
                            <path class="st0" d="M623.45,228.49c0-2.07,1.4-3.1,4.13-3.1,2.51,0,3.84,1.03,3.84,3.1v45.62c0,2.07-1.4,3.1-4.06,3.1s-3.91-1.03-3.91-3.1v-45.62Z"/>
                            <path class="st0" d="M682.14,276.85c-14.4,0-21.63-4.72-21.63-14.17v-22.96c0-9.3,7.09-13.95,21.26-13.95h28.27c2.36,0,3.69,1.03,3.69,3.03s-1.33,3.03-3.69,3.03h-28.13c-8.93,0-13.44,2.66-13.44,8.05v22.59c0,5.54,4.58,8.34,14.03,8.34h27.54c2.36,0,3.69,1.03,3.69,3.03s-1.33,3.03-3.69,3.03h-27.9Z"/>
                            <path class="st0" d="M795.84,265.11c0,7.83-7.53,11.74-22.44,11.74h-29.97c-2.44,0-3.76-1.03-3.76-3.03s1.33-3.03,3.76-3.03h29.97c9.6,0,14.4-2.07,14.4-6.13v-5.24c0-3.99-4.5-5.98-13.66-5.98h-13.95c-13.44,0-20.16-3.69-20.16-10.93v-5.39c0-7.53,6.94-11.37,20.67-11.37h31.45c2.44,0,3.69,1.03,3.69,3.03s-1.25,3.03-3.69,3.03h-31.38c-8.49,0-12.77,1.85-12.77,5.61v4.58c0,3.69,4.06,5.46,12.11,5.46h13.44c14.84,0,22.29,3.91,22.29,11.66v5.98Z"/>
                        </g>
                    </svg> #}

                    <svg width="144" height="29" viewBox="0 0 144 29" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_5961_9523)">
							<path d="M13.9994 22.6211C9.50702 22.6211 5.86603 18.9857 5.86603 14.5C5.86603 10.0144 9.50702 6.37887 13.9994 6.37887C18.4919 6.37887 22.1329 10.0144 22.1329 14.5C22.1329 18.9857 18.4919 22.6211 13.9994 22.6211ZM13.9994 28.4783C21.7307 28.4783 27.9989 22.2195 27.9989 14.5C27.9989 6.78047 21.7307 0.521698 13.9994 0.521698C6.26823 0.521698 0 6.78047 0 14.5C0 22.2195 6.26823 28.4783 13.9994 28.4783Z" fill="white"></path>
							<path d="M104.8 28.4783C97.069 28.4783 90.8008 22.2195 90.8008 14.5C90.8008 6.78047 97.069 0.521698 104.8 0.521698C112.531 0.521698 118.8 6.78047 118.8 14.5C118.8 22.2195 112.531 28.4783 104.8 28.4783ZM104.8 22.6211C109.293 22.6211 112.934 18.9857 112.934 14.5C112.934 10.0144 109.293 6.37887 104.8 6.37887C100.308 6.37887 96.6692 10.0144 96.6692 14.5C96.6692 18.9857 100.31 22.6211 104.8 22.6211Z" fill="white"></path>
							<path d="M31.0664 1.36949V27.8137H36.9348V6.24499H43.3347V27.8137H49.2008V6.24499H51.4682C53.752 6.24499 55.6007 8.09327 55.6007 10.3713V27.8113H61.4667V10.5075C61.4667 5.35961 57.2871 1.18866 52.1338 1.18866H36.9583C34.9802 1.18866 33.0139 1.25207 31.0664 1.37184V1.36949Z" fill="white"></path>
							<path d="M121.597 1.36949L121.601 27.8137H127.467V6.24499H134.001C136.283 6.24499 138.134 8.09327 138.134 10.3713V27.8113H144.002V10.5075C144.002 5.35961 139.823 1.18866 134.667 1.18866H127.46C125.487 1.18866 123.542 1.25207 121.599 1.37184L121.597 1.36949Z" fill="white"></path>
							<path d="M66.001 1.36952V27.8137H71.8647V6.24502H78.8009C81.0847 6.24502 82.9334 8.09329 82.9334 10.3713C82.9334 12.6494 81.0824 14.4977 78.8009 14.4977H73.7345L82.8017 27.8113H90.0014L83.4744 18.2294C86.5956 16.98 88.7995 13.934 88.7995 10.369C88.7995 5.29622 84.681 1.18164 79.6006 1.18164H71.8623C69.8936 1.18164 67.9414 1.24505 66.001 1.36482V1.36952Z" fill="white"></path>
						</g>
						<defs>
							<clipPath id="clip0_5961_9523">
								<rect width="144" height="27.9566" fill="white" transform="translate(0 0.521698)"></rect>
							</clipPath>
						</defs>
					</svg>
				</a>

				<div class="nav__burger">
					<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path class="stroke-[0.0625rem]" d="M1 17.1033H19" stroke="#262626"/>
						<path class="stroke-[0.0625rem]" d="M1 4.85331H19" stroke="#262626"/>
						<path class="stroke-[0.0625rem]" d="M1 10.9783H19" stroke="#262626"/>
					</svg>
				</div>

				{% if header_nav_item %}
					<div class="nav__desktop">
						<div class="nav__group">
							{% for nav_item in header_nav_item %}
								{% set nav_index = loop.index %}

								{% if not nav_item.is_cta %}
									{% if nav_item.is_parent %}
										<div class="nav__item parent">
											<div class="nav__item-inner">
												<div class="nav__square"></div>
												<p>{{ nav_item.name }}</p>
											</div>

											{% if nav_item.is_parent %}
												{% set dp = nav_item.dropdown_panel %}

												{% set is_products = dp.is_products %}
												{% set bottom_cta = dp.bottom_cta %}

												{% set nav_group = dp.nav_group %}

												{% set has_feature = dp.has_feature %}
												{% set ft = dp.feature %}

												{% if nav_group|length %}
													<div class="nav__dd {{ is_products ? 'is-products' }}">
														<div class="container">
															<div class="nav__dd-inner">
																<div class="nav__dd-back">
																	<svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M4.44255 10.375L1.15088 6.94618L4.44254 3.51736" stroke="#262626" stroke-opacity="0.6" stroke-width="1.5" stroke-miterlimit="10"/>
																		<path d="M11.9859 0.500098L11.9859 5.84905C11.9859 6.45472 11.4943 6.94627 10.8887 6.94627L1.01367 6.94627" stroke="#262626" stroke-opacity="0.6" stroke-width="1.5" stroke-miterlimit="10"/>
																	</svg>

																	<p>{{ nav_back }}</p>
																</div>

																<div class="nav__dd-main">
																	<div class="nav__dd-groups">
																		{% for group in nav_group %}
																			{% set nav_group_index = loop.index %}

																			<div class="nav__dd-group">
																				{% if group.is_title_a_link %}
																					{% if group.title_link %}
																						{% set link_url = group.title_link.url ?: "#" %}
																						{% set link_title = group.title_link.title %}
																						{% set link_target = group.title_link.target ?: "_self" %}

																						<a class="uline" href="{{ link_url }}" target="{{ link_target }}">
																							<p class="lg">{{ link_title }}</p>
																						</a>
																					{% endif %}
																				{% else %}
																					{% if group.title %}
																						<p class="lg">{{ group.title }}</p>
																					{% endif %}
																				{% endif %}

																				{% if group.links|length %}
																					<div class="nav__dd-group-links">
																						{% for child in group.links %}
																							{% set child_index = loop.index %}

																							{% if child.nav_link %}
																								{% set link_url = child.nav_link.url ?: "#" %}
																								{% set link_title = child.nav_link.title %}
																								{% set link_target = child.nav_link.target ?: "_self" %}

																								<a class="nav__dd-group-link" href="{{ link_url }}" target="{{ link_target }}" {{ is_products ? 'data-product-index="' ~ nav_index ~ nav_group_index ~ child_index ~ '"' }}>
																									<p>{{ link_title }}</p>
																								</a>
																							{% endif %}
																						{% endfor %}
																					</div>
																				{% endif %}
																			</div>
																		{% endfor %}
																	</div>

																	{% if is_products %}
																		<div class="nav__dd-images">
																			{% for group in nav_group %}
																				{% set nav_group_index = loop.index %}

																				{% if group.links|length %}
																					{% for child in group.links %}
																						{% set child_index = loop.index %}

																						{% if child.feature_image %}
																							<div class="nav__dd-image {{ nav_group_index == 1 and child_index == 1 ? " active" }}" data-product-index="{{ nav_index ~ nav_group_index ~ child_index }}">
                                                                                                <img class="lazy-image" data-src="{{ function("wp_get_attachment_image_src", child.feature_image, 'medium_large')[0] }}" alt="{{ function("get_the_title", child.feature_image) }}">
																							</div>
																						{% endif %}

																					{% endfor %}
																				{% endif %}
																			{% endfor %}
																		</div>
																	{% else %}
																		{% if has_feature %}
																			<div class="nav__dd-feature">
																				{% set eyebrow = ft.eyebrow %}
																				{% set thumbnail = ft.thumbnail %}
																				{% set link = ft.feature_link %}

																				<div class="nav__dd-feature-inner">
                                                                                    <img class="lazy-image" data-src="{{ function("wp_get_attachment_image_src", thumbnail, 'medium_large')[0] }}" alt="{{ function("get_the_title", thumbnail) }}">

																					{% include 'components/eyebrow.twig' with {
                                                                                        'text': eyebrow,
                                                                                        'textClass' : 'text-black'
                                                                                    } %}
																				</div>

																				{% if link %}
																					{% set link_url = link.url ?: "#" %}
																					{% set link_title = link.title %}
																					{% set link_target = link.target ?: "_self" %}

																					<a class="nav__dd-feature-cta" href="{{ link_url }}" target="{{ link_target }}">
																						<p>{{ link_title }}</p>

																						<svg class="w-[1rem] h-[1.0625rem]" width="16" height="17" viewbox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
																							<g>
																								<path class="stroke-[0.0938rem]" d="M8 1.42931L14.6667 8.09598L8 14.7626M0 8.09598H14.302" stroke="#262626" stroke-width="1.5" stroke-miterlimit="10"/>
																							</g>
																						</svg>
																					</a>
																				{% endif %}
																			</div>
																		{% endif %}
																	{% endif %}
																</div>

																{% if is_products and bottom_cta %}
																	{% set link_url = bottom_cta.url ?: "#" %}
																	{% set link_title = bottom_cta.title %}
																	{% set link_target = bottom_cta.target ?: "_self" %}

																	<a class="nav__dd-bc" href="{{ link_url }}" target="{{ link_target }}">
																		<svg class="h-[0.875rem] w-[0.875rem]" width="13" height="14" viewbox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path class="stroke-[0.0938rem]" d="M8.55745 11.2653L11.8491 7.8365L8.55746 4.40768" stroke="#262626" stroke-opacity="0.6" stroke-width="1.5" stroke-miterlimit="10"/>
																			<path class="stroke-[0.0938rem]" d="M1.01411 1.39033L1.0141 6.73928C1.0141 7.34494 1.50566 7.8365 2.11133 7.8365L11.9863 7.8365" stroke="#262626" stroke-opacity="0.6" stroke-width="1.5" stroke-miterlimit="10"/>
																		</svg>

																		<p>{{ link_title }}</p>
																	</a>
																{% endif %}
															</div>
														</div>
													</div>
												{% endif %}
											{% endif %}
										</div>
									{% else %}
										{% if nav_item.link %}
											{% set link_url = nav_item.link.url ?: "#" %}
											{% set link_title = nav_item.link.title %}
											{% set link_target = nav_item.link.target ?: "_self" %}

											<a class="nav__item" href="{{ link_url }}" target="{{ link_target }}">
												<div class="nav__item-inner">
													<div class="nav__square"></div>
													<p>{{ nav_item.name }}</p>
												</div>
											</a>
										{% endif %}
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>

						<div class="nav__actions">
							{% for nav_item in header_nav_item %}
								{% if nav_item.is_cta %}
									{% if nav_item.link %}
										{% set link_url = nav_item.link.url ?: "#" %}
										{% set link_title = nav_item.link.title %}
										{% set link_target = nav_item.link.target ?: "_self" %}

										<div class="nav__cta">
											<a class="btn nav-cta" href="{{ link_url }}" target="{{ link_target }}">
												<p>{{ link_title }}</p>
											</a>
										</div>
									{% endif %}
								{% endif %}
							{% endfor %}

							<div class="nav__lang">
								<svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M8 15C11.866 15 15 11.866 15 8C15 4.13401 11.866 1 8 1C4.13401 1 1 4.13401 1 8C1 11.866 4.13401 15 8 15Z" stroke="#262626" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M8.0004 15C9.77666 15 11.2166 11.866 11.2166 8C11.2166 4.13401 9.77666 1 8.0004 1C6.22413 1 4.78418 4.13401 4.78418 8C4.78418 11.866 6.22413 15 8.0004 15Z" stroke="#262626" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M1.56738 5.54054H14.4322" stroke="#262626" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M1.56738 10.4595H14.4322" stroke="#262626" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>

								{{ function('do_action', 'wpml_add_language_selector') }}

                                {% if more_languages_note_label %}
                                    <style>
                                        .nav__lang:not(.is-plain) .wpml-ls-sub-menu::after {
                                            content: "{{ more_languages_note_label }}"
                                        }
                                    </style>
                                {% endif %}
							</div>

							<div class="nav__item parent nav__search">
								<div class="nav__search-inner">
									<svg width="19" height="19" viewbox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M8.2332 2.53333C5.0849 2.53333 2.5332 5.08503 2.5332 8.23333C2.5332 11.3816 5.0849 13.9333 8.2332 13.9333C11.3815 13.9333 13.9332 11.3816 13.9332 8.23333C13.9332 5.08503 11.3815 2.53333 8.2332 2.53333Z" stroke="white" stroke-miterlimit="10"/>
										<path d="M16.4671 16.4667L12.3105 12.3101" stroke="white" stroke-miterlimit="10" stroke-linecap="square"/>
									</svg>
								</div>

								<div class="nav__dd">
									<div class="container">
										<div class="nav__dd-inner is-search">
											<div class="nav__dd-main">
												<div class="nav__search-container">
													<input class="nav-search" data-action="{{ function("home_url", "/?s=") }}" placeholder="{{ search_placeholder }}" type="text">

													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M9.87979 3.04C6.10183 3.04 3.03979 6.10204 3.03979 9.88C3.03979 13.658 6.10183 16.72 9.87979 16.72C13.6578 16.72 16.7198 13.658 16.7198 9.88C16.7198 6.10204 13.6578 3.04 9.87979 3.04Z" stroke="#262626" stroke-miterlimit="10"/>
														<path d="M19.76 19.7605L14.7721 14.7727" stroke="#262626" stroke-miterlimit="10" stroke-linecap="square"/>
													</svg>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}

				{% if header_nav_item %}
					<div class="nav__mobile">
						<div class="nav__panel-items">
							<div class="nav__group">
								{% for nav_item in header_nav_item %}
									{% set nav_index = loop.index %}

									{% if not nav_item.is_cta %}
										{% if nav_item.is_parent %}
											<div class="nav__item parent" data-panel-group="{{ nav_index }}">
												<div class="nav__item-inner">
													<div class="nav__square"></div>
													<p>{{ nav_item.name }}</p>
												</div>
											</div>
										{% else %}
											{% if nav_item.link %}
												{% set link_url = nav_item.link.url ?: "#" %}
												{% set link_title = nav_item.link.title %}
												{% set link_target = nav_item.link.target ?: "_self" %}

												<a class="nav__item" href="{{ link_url }}" target="{{ link_target }}">
													<div class="nav__item-inner">
														<div class="nav__square"></div>
														<p>{{ nav_item.name }}</p>
													</div>
												</a>
											{% endif %}
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>

							<div class="nav__actions">
								{% for nav_item in header_nav_item %}
									{% if nav_item.is_cta %}
										{% if nav_item.link %}
											{% set link_url = nav_item.link.url ?: "#" %}
											{% set link_title = nav_item.link.title %}
											{% set link_target = nav_item.link.target ?: "_self" %}

											<div class="nav__cta">
												<a class="btn nav-cta" href="{{ link_url }}" target="{{ link_target }}">
													<p>{{ link_title }}</p>
												</a>
											</div>
										{% endif %}
									{% endif %}
								{% endfor %}

								<div class="nav__lang is-mobile" data-panel-group="lang">
									<svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M8 15C11.866 15 15 11.866 15 8C15 4.13401 11.866 1 8 1C4.13401 1 1 4.13401 1 8C1 11.866 4.13401 15 8 15Z" stroke="#262626" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
										<path d="M8.0004 15C9.77666 15 11.2166 11.866 11.2166 8C11.2166 4.13401 9.77666 1 8.0004 1C6.22413 1 4.78418 4.13401 4.78418 8C4.78418 11.866 6.22413 15 8.0004 15Z" stroke="#262626" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
										<path d="M1.56738 5.54054H14.4322" stroke="#262626" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
										<path d="M1.56738 10.4595H14.4322" stroke="#262626" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>

									<p>{{ function('get_language', true) }}</p>
								</div>

								<div class="nav__search is-mobile" data-panel-group="search">
									<svg width="19" height="19" viewbox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M8.2332 2.53333C5.0849 2.53333 2.5332 5.08503 2.5332 8.23333C2.5332 11.3816 5.0849 13.9333 8.2332 13.9333C11.3815 13.9333 13.9332 11.3816 13.9332 8.23333C13.9332 5.08503 11.3815 2.53333 8.2332 2.53333Z" stroke="white" stroke-miterlimit="10"/>
										<path d="M16.4671 16.4667L12.3105 12.3101" stroke="white" stroke-miterlimit="10" stroke-linecap="square"/>
									</svg>
								</div>
							</div>
						</div>

						<div class="nav__panel-groups">
							{% for nav_item in header_nav_item %}
								{% set nav_index = loop.index %}

								{% if nav_item.is_parent %}
									{% set dp = nav_item.dropdown_panel %}

									{% set is_products = dp.is_products %}
									{% set bottom_cta = dp.bottom_cta %}

									{% set nav_group = dp.nav_group %}

									{% set has_feature = dp.has_feature %}
									{% set ft = dp.feature %}

									{% if nav_group|length %}
										<div class="nav__dd" data-panel-group="{{ loop.index }}">
											<div class="nav__dd-inner">
												<div class="nav__dd-back">
													<svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M4.44255 10.375L1.15088 6.94618L4.44254 3.51736" stroke="#262626" stroke-opacity="0.6" stroke-width="1.5" stroke-miterlimit="10"/>
														<path d="M11.9859 0.500098L11.9859 5.84905C11.9859 6.45472 11.4943 6.94627 10.8887 6.94627L1.01367 6.94627" stroke="#262626" stroke-opacity="0.6" stroke-width="1.5" stroke-miterlimit="10"/>
													</svg>

													<p>{{ nav_back }}</p>
												</div>

												<div class="nav__dd-main">
													<div class="nav__dd-groups">
														{% for group in nav_group %}
															{% set nav_group_index = loop.index %}

															<div class="nav__dd-group">
																{% if group.is_title_a_link %}
																	{% if group.title_link %}
																		{% set link_url = group.title_link.url ?: "#" %}
																		{% set link_title = group.title_link.title %}
																		{% set link_target = group.title_link.target ?: "_self" %}

																		<a class="uline" href="{{ link_url }}" target="{{ link_target }}">
																			<p class="lg">{{ link_title }}</p>
																		</a>
																	{% endif %}
																{% else %}
																	{% if group.title %}
																		<p class="lg">{{ group.title }}</p>
																	{% endif %}
																{% endif %}

																{% if group.links|length %}
																	<div class="nav__dd-group-links">
																		{% for child in group.links %}
																			{% set child_index = loop.index %}

																			{% if child.nav_link %}
																				{% set link_url = child.nav_link.url ?: "#" %}
																				{% set link_title = child.nav_link.title %}
																				{% set link_target = child.nav_link.target ?: "_self" %}

																				<a class="nav__dd-group-link" href="{{ link_url }}" target="{{ link_target }}" {{ is_products ? 'data-product-index="' ~ nav_index ~ nav_group_index ~ child_index ~ '"' }}>
																					<p>{{ link_title }}</p>
																				</a>
																			{% endif %}
																		{% endfor %}
																	</div>
																{% endif %}
															</div>
														{% endfor %}
													</div>

													{% if has_feature and not is_products %}
														<div class="nav__dd-feature">
															{% set eyebrow = ft.eyebrow %}
															{% set thumbnail = ft.thumbnail %}
															{% set link = ft.feature_link %}

															<div class="nav__dd-feature-inner">
                                                                <img class="lazy-image" data-src="{{ function("wp_get_attachment_image_src", thumbnail, 'medium_large')[0] }}" alt="{{ function("get_the_title", thumbnail) }}">

																{% include 'components/eyebrow.twig' with {
                                                                    'text': eyebrow,
                                                                    'textClass' : 'text-black'
                                                                } %}
															</div>

															{% if link %}
																{% set link_url = link.url ?: "#" %}
																{% set link_title = link.title %}
																{% set link_target = link.target ?: "_self" %}

																<a class="nav__dd-feature-cta" href="{{ link_url }}" target="{{ link_target }}">
																	<p>{{ link_title }}</p>

																	<svg class="w-[1rem] h-[1.0625rem]" width="16" height="17" viewbox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<g>
																			<path class="stroke-[0.0938rem]" d="M8 1.42931L14.6667 8.09598L8 14.7626M0 8.09598H14.302" stroke="#262626" stroke-width="1.5" stroke-miterlimit="10"/>
																		</g>
																	</svg>
																</a>
															{% endif %}
														</div>
													{% endif %}
												</div>

												{% if bottom_cta %}
													{% set link_url = bottom_cta.url ?: "#" %}
													{% set link_title = bottom_cta.title %}
													{% set link_target = bottom_cta.target ?: "_self" %}

													<a class="nav__dd-bc" href="{{ link_url }}" target="{{ link_target }}">
														<svg class="h-[0.875rem] w-[0.875rem]" width="13" height="14" viewbox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
															<path class="stroke-[0.0938rem]" d="M8.55745 11.2653L11.8491 7.8365L8.55746 4.40768" stroke="#262626" stroke-opacity="0.6" stroke-width="1.5" stroke-miterlimit="10"/>
															<path class="stroke-[0.0938rem]" d="M1.01411 1.39033L1.0141 6.73928C1.0141 7.34494 1.50566 7.8365 2.11133 7.8365L11.9863 7.8365" stroke="#262626" stroke-opacity="0.6" stroke-width="1.5" stroke-miterlimit="10"/>
														</svg>

														<p>{{ link_title }}</p>
													</a>
												{% endif %}
											</div>
										</div>
									{% endif %}
								{% endif %}
							{% endfor %}

							<div class="nav__dd" data-panel-group="lang">
								<div class="nav__dd-inner">
									<div class="nav__dd-back">
										<svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M4.44255 10.375L1.15088 6.94618L4.44254 3.51736" stroke="#262626" stroke-opacity="0.6" stroke-width="1.5" stroke-miterlimit="10"/>
											<path d="M11.9859 0.500098L11.9859 5.84905C11.9859 6.45472 11.4943 6.94627 10.8887 6.94627L1.01367 6.94627" stroke="#262626" stroke-opacity="0.6" stroke-width="1.5" stroke-miterlimit="10"/>
										</svg>

										<p>{{ nav_back }}</p>
									</div>

									<div class="nav__dd-main">
										<div class="nav__lang is-plain">
											{{ function('do_action', 'wpml_add_language_selector') }}

                                            {% if more_languages_note_label %}
                                                <p class="sm pt-[1.5rem]">{{ more_languages_note_label }}</p>
                                            {% endif %}
										</div>
									</div>
								</div>
							</div>

                            <div class="nav__dd" data-panel-group="search">
								<div class="nav__dd-inner">
									<div class="nav__dd-back">
										<svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M4.44255 10.375L1.15088 6.94618L4.44254 3.51736" stroke="#262626" stroke-opacity="0.6" stroke-width="1.5" stroke-miterlimit="10"/>
											<path d="M11.9859 0.500098L11.9859 5.84905C11.9859 6.45472 11.4943 6.94627 10.8887 6.94627L1.01367 6.94627" stroke="#262626" stroke-opacity="0.6" stroke-width="1.5" stroke-miterlimit="10"/>
										</svg>

										<p>{{ nav_back }}</p>
									</div>

									<div class="nav__dd-main">
										<div class="nav__search-container">
                                            <input class="nav-search" data-action="{{ function("home_url", "/?s=") }}" placeholder="{{ search_placeholder }}" type="text">

                                            <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.87979 3.04C6.10183 3.04 3.03979 6.10204 3.03979 9.88C3.03979 13.658 6.10183 16.72 9.87979 16.72C13.6578 16.72 16.7198 13.658 16.7198 9.88C16.7198 6.10204 13.6578 3.04 9.87979 3.04Z" stroke="#262626" stroke-miterlimit="10"/>
                                                <path d="M19.76 19.7605L14.7721 14.7727" stroke="#262626" stroke-miterlimit="10" stroke-linecap="square"/>
                                            </svg>
                                        </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="nav__overlay"></div>
</nav>
