<section class="py-[3.75rem]">
	<div class="container">
		<div class="flex flex-col gap-[1.5rem]">
			{% if nt_heading %}
				<h5>{{ nt_heading }}</h5>
			{% endif %}

			{% include 'components/cta.twig' with {
                'class' : 'filled blue',
                'cta': nt_cta, 
                'icon': true,
            } %}

			{% if blog_back_cta %}
				{% set link_url = blog_back_cta.url ?: "#" %}
				{% set link_title = blog_back_cta.title %}
				{% set link_target = blog_back_cta.target ?: "_self" %}

				<a class="post-back" href="{{ link_url }}" target="{{ link_target }}">
					<svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.44255 10.375L1.15088 6.94618L4.44254 3.51736" stroke="#262626" stroke-opacity="0.6" stroke-width="1.5" stroke-miterlimit="10"/>
						<path d="M11.9859 0.500098L11.9859 5.84905C11.9859 6.45472 11.4943 6.94627 10.8887 6.94627L1.01367 6.94627" stroke="#262626" stroke-opacity="0.6" stroke-width="1.5" stroke-miterlimit="10"/>
					</svg>

					<p>{{ link_title }}</p>
				</a>
			{% endif %}

			{% if news_back_cta %}
				{% set link_url = news_back_cta.url ?: "#" %}
				{% set link_title = news_back_cta.title %}
				{% set link_target = news_back_cta.target ?: "_self" %}

				<a class="post-back" href="{{ link_url }}" target="{{ link_target }}">
					<svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.44255 10.375L1.15088 6.94618L4.44254 3.51736" stroke="#262626" stroke-opacity="0.6" stroke-width="1.5" stroke-miterlimit="10"/>
						<path d="M11.9859 0.500098L11.9859 5.84905C11.9859 6.45472 11.4943 6.94627 10.8887 6.94627L1.01367 6.94627" stroke="#262626" stroke-opacity="0.6" stroke-width="1.5" stroke-miterlimit="10"/>
					</svg>

					<p>{{ link_title }}</p>
				</a>
			{% endif %}

			{% if case_study_back_cta %}
				{% set link_url = case_study_back_cta.url ?: "#" %}
				{% set link_title = case_study_back_cta.title %}
				{% set link_target = case_study_back_cta.target ?: "_self" %}

				<a class="post-back" href="{{ link_url }}" target="{{ link_target }}">
					<svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.44255 10.375L1.15088 6.94618L4.44254 3.51736" stroke="#262626" stroke-opacity="0.6" stroke-width="1.5" stroke-miterlimit="10"/>
						<path d="M11.9859 0.500098L11.9859 5.84905C11.9859 6.45472 11.4943 6.94627 10.8887 6.94627L1.01367 6.94627" stroke="#262626" stroke-opacity="0.6" stroke-width="1.5" stroke-miterlimit="10"/>
					</svg>

					<p>{{ link_title }}</p>
				</a>
			{% endif %}

            {% if news_label %}
				<h5>{{ news_label }}</h5>
			{% endif %}

            {% if post_label %}
				<h5>{{ post_label }}</h5>
			{% endif %}

            {% if case_study_label %}
				<h5>{{ case_study_label }}</h5>
			{% endif %}
		</div>
	</div>
</section>
