<section class="{{ block.slug }} bg-{{ fields.bg }} overflow-x-clip overflow-y-visible">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}

	{% set arrowBG = fields.bg == 'white' ? 'bg-beige' : 'bg-white' %}

	<div class="relative z-[2] overflow-hidden">
		<div class="container">
			<div class="{{ pt }} {{ pb }}">
				<div class="flex flex-col ~gap-[2.25rem]/[3rem]">
					<div class="w-full flex justify-between items-end">
						<div class="w-full md:max-w-[48.375rem] flex flex-col ~gap-[1.25rem]/[1.5rem]">
							{% if fields.heading or fields.eyebrow %}
								{% include 'components/heading.twig' with {
                                    'class': 'main-title',
                                    'value': fields.heading.value, 
                                    'type': fields.heading.type != "default" ? fields.heading.type : "h3",
                                    'has_custom_style': fields.heading.has_custom_style,
                                    'style': fields.heading.style,
                                    'insert_eyebrow': fields.eyebrow ? true : false,
                                    'eyebrow': fields.eyebrow,
                                    'to_words': true
                                } %}
							{% endif %}

							{% if fields.paragraph %}
								<p class="para-desc">{{ fields.paragraph }}</p>
							{% endif %}
						</div>

						<div class="max-lg:hidden flex shrink-0 gap-[0.75rem] max-lg:justify-between">
							<div class="ar-l {{ arrowBG }}">
								<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M13 16.1123L7 10.1123L13 4.1123"/>
								</svg>
							</div>

							<div class="ar-r {{ arrowBG }}">
								<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7 4.1123L13 10.1123L7 16.1123"/>
								</svg>
							</div>
						</div>
					</div>

					{% if fields.items|length %}
						{# box w-full relative flex gap-[1.5rem] #}
						<div class="flex flex-col gap-[1.25rem]">
							<div class="relative box w-full">
								<div class="swiper-container">
									<div class="swiper-wrapper">
										{% for index, item in fields.items %}
											{% set link_url = "#" %}
											{% set link_title = "" %}
											{% set link_target = "_self" %}

											{% if item.ccd_link %}
												{% set link_url = item.ccd_link.url ?: "#" %}
												{% set link_title = item.ccd_link.title %}
												{% set link_target = item.ccd_link.target ?: "_self" %}
											{% endif %}

											<a class="swiper-slide" href="{{ link_url }}" target="{{ link_target }}">
												<div class="relative z-[3] w-fit p-[1.5rem]">
													<div class="flex gap-[0.75rem] items-center group">
														<p class="lg group-hover:underline decoration-[0.0625rem] underline-offset-[0.25rem] text-{{ item.text_theme }}">{{ link_title }}</p>
														<svg width="16" height="17" viewbox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
															<path class="stroke-{{ item.text_theme }}" d="M8 1.83325L14.6667 8.49992L8 15.1666M0 8.49992H14.302" stroke-width="1.5" stroke-miterlimit="10"/>
														</svg>
													</div>
												</div>

												{% if item.text_theme == 'white' %}
													<div class="image-overlay"></div>
												{% endif %}

                                                {% include 'components/image.twig' with {
                                                    'image': item.image,
                                                    'class': "absolute top-0 left-0 h-full w-full z-[1]",
                                                    'size': [655, 655],
                                                } %}

												<div class="ticker">
													<img class="h-full w-auto" src="{{ function("svg", "ticker-1") }}" loading="lazy" alt="ticker bg image">
												</div>
											</a>
										{% endfor %}
									</div>
								</div>

								{% if not fields.hide_hover_orb %}
									<div class="orb scale-0 opacity-0 absolute top-0 left-0 h-[4rem] w-[4rem] bg-[rgba(38,38,38,0.90)] rounded-[50%] overflow-hidden flex items-center justify-center text-center z-[2] pointer-events-none">
										<small class="text-white">{{ fields.hover_text ?: "Drag" }}</small>
									</div>
								{% endif %}
							</div>

							<div class="lg:hidden flex shrink-0 gap-[0.75rem] max-lg:justify-between">
								<div class="ar-l {{ arrowBG }}">
									<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M13 16.1123L7 10.1123L13 4.1123"/>
									</svg>
								</div>

								<div class="ar-r {{ arrowBG }}">
									<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M7 4.1123L13 10.1123L7 16.1123"/>
									</svg>
								</div>
							</div>
						</div>
					{% endif %}

					{% include 'components/cta.twig' with {
                        'class' : 'filled blue',
                        'cta': fields.cta, 
                        'icon': true,
                    } %}
				</div>
			</div>
		</div>
	</div>

	{% if fields.override_bg_graphic and fields.bg_graphic %}
		<div class="parallax is-overriden absolute ~right-[-4.5rem]/[-0.75rem] ~top-[12.875rem]/[5.125rem] pointer-events-none">
			<img class="~w-[24rem]/[32.625rem] max-h-[25rem] h-auto object-contain object-top opacity-80" src="{{ function("wp_get_attachment_image_url", fields.bg_graphic, "full") }}" loading="lazy" alt="background graphic">
		</div>
	{% else %}
		<div class="parallax absolute ~right-[-4.5rem]/[-0.75rem] ~top-[14.75rem]/[6.375rem] pointer-events-none">
			<img class="~w-[24rem]/[32.625rem] ~h-[44.875rem]/[61rem] object-contain" src="{{ function("svg", "robot-drawing") }}" loading="lazy" alt="background graphic">
		</div>
	{% endif %}
</section>

