{% if fields.quote|length %}
		<section class="{{ block.slug }}">
        
		{% if block.anchor %}
			<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
		{% endif %}

		<div class="quote-container ~py-[1.5rem]/[36px]">
			<div class="quote relative">
                <svg class="absolute ~top-[0.25rem]/[0.5625rem] left-0 h-[1.5rem] w-[1.5rem]" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.76 10.0799V9.1199C17.76 7.2671 18.8366 5.7599 20.16 5.7599H20.64V2.3999H20.16C16.4544 2.3999 13.44 5.4143 13.44 9.1199V19.6799H23.04V10.0799H17.76ZM5.27996 10.0799V9.1199C5.27996 7.2671 6.3566 5.7599 7.67996 5.7599H8.15996V2.3999H7.67996C3.97436 2.3999 0.959961 5.4143 0.959961 9.1199V19.6799H10.56V10.0799H5.27996Z" fill="#6AFF96"/>
                </svg>

                {% set words = fields.quote|split(' ') %}
                {% set indent = '<span class="~w-[5.875rem]/[8.75rem] h-[2.5rem] shrink-0"></span>' %}

                <h4 class="{{ fields.font_size }} quote-text">{{ indent }}{% for word in words %}<span class="word">{{ word }}&nbsp;</span>{% endfor %}</h4>
            </div>
		</div>
	</section>
{% endif %}
