<section class="{{ block.slug }} bg-{{ fields.bg }}">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xl" %}

	<div class="{{ pt }} {{ pb }}">
		<div class="overflow-x-clip relative">
			<div class="container w-full">
				<div class="box {{ fields.size == 'small' ? " is-small" : " is-big" }}">
					<div class="content {{ fields.position == 'left' ? " is-left" : " is-right" }}">
						<div class="w-full md:max-w-[34.125rem]">
							{% if fields.heading or fields.eyebrow %}
								{% include 'components/heading.twig' with {
                                    'class': 'main-title text-white',
                                    'value': fields.heading.value, 
                                    'type': fields.heading.type != "default" ? fields.heading.type : "h3",
                                    'has_custom_style': fields.heading.has_custom_style,
                                    'style': fields.heading.style,
                                    'insert_eyebrow': fields.eyebrow ? true : false,
                                    'eyebrow': fields.eyebrow,
                                    'textClass': 'text-white-60',
                                    'to_words': true
                                } %}
							{% endif %}
						</div>

						{% if fields.paragraph or fields.cta %}
							<div class="flex flex-col ~gap-[1.25rem]/[1.5rem]">
								{% if fields.paragraph %}
									<p class="para-desc text-white max-w-[31.625rem]">{{ fields.paragraph }}</p>
								{% endif %}

								{% include 'components/cta.twig' with {
                                    'class': 'filled white',
                                    'cta': fields.cta, 
                                    'icon': true,
                                } %}
							</div>
						{% endif %}
					</div>

					<div class="box-bg absolute w-full h-full min-w-[calc(100%+10rem)] min-h-[calc(100%+14rem)] z-[1] center-xy bg-black" style="clip-path: inset(0% 0.5rem)">
						<div class="box-overlay z-[2] absolute top-0 left-0 h-full w-full"></div>

						{% if fields.image %}
							<div class="box-image absolute top-0 left-0 h-full w-full">
								{% include 'components/image.twig' with {
                                    'image': fields.image,
                                    'class': 'object-top',
                                    'size': [1344, 768],
                                } %}
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

