<section class="{{ block.slug }} bg-{{ fields.bg }}">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xl" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}

	<div class="container">
		<div class="{{ pt }} {{ pb }}">
            <div class="flex max-lg:flex-col ~gap-[2.25rem]/[8.75rem]">
                <div class="lg:basis-[34.125rem] lg:flex-1 flex flex-col ~gap-[1.5rem]/[2.25rem]">
                    {% if fields.heading.value or fields.paragraph %}
                        <div class="flex flex-col ~gap-[1.25rem]/[1.5rem]">
                            {% include 'components/heading.twig' with {
                                'class': 'main-title',
                                'value': fields.heading.value, 
                                'type': fields.heading.type != "default" ? fields.heading.type : "h4",
                                'has_custom_style': fields.heading.has_custom_style,
                                'style': fields.heading.style,
                                'to_words': true
                            } %}

                            {% if fields.paragraph %}
                                <div class="rich-text para-desc">{{ fields.paragraph }}</div>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if fields.subtitle or fields.subtexts|length %}
                        <div class="flex flex-col ~gap-[1.25rem]/[1.5rem] others alpha">
                            {% if fields.subtitle %}
                                <p class="lg">{{ fields.subtitle }}</p>
                            {% endif %}

                            {% if fields.subtexts|length %}
                                {% for item in fields.subtexts %}
                                    {% if item.main_text or item.main_text %}
                                        <div class="flex flex-col gap-[0.75rem]">
                                            {% if item.main_text %}
                                                <p class="!font-bold">{{ item.main_text }}</p>
                                            {% endif %}

                                            {% if item.secondary_text %}
                                                <p>{{ item.secondary_text }}</p>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>

                {% set region = fields.hubspot_form.region %}
                {% set form_id = fields.hubspot_form.form_id %}
                {% set portal_id = fields.hubspot_form.portal_id %}
                {% set lang_code = function("get_language") %}

                {% if lang_code != "en" %}
                    {% set form_id = fields.hubspot_form["form_id_" ~ lang_code] ?: fields.hubspot_form.form_id %}
                {% endif %}

                {% if region and form_id and portal_id %}
                    <div class="form-outer {{ fields.bg == "white" ? "bg-beige" : "bg-white" }}">
                        <div class="form-container-outer">
                            <div class="form-container rich-text-form {{ fields.is_attachment_form ? "is-attachment" }}" data-region="{{ region }}" data-form-id="{{ form_id }}" data-portal-id="{{ portal_id }}"></div>

                            {% if fields.is_attachment_form and fields.next_button and fields.back_button %}
                                {% if fields.next_button %}
                                    <div class="btn filled blue next-btn has-arrow disabled">
                                        <svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8.55697 10.375L11.8486 6.94618L8.55697 3.51736" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                                            <path d="M1.01411 0.500006L1.0141 5.84896C1.0141 6.45463 1.50566 6.94618 2.11133 6.94618L11.9863 6.94618" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                                        </svg>

                                        <p>{{ fields.next_button }}</p>
                                    </div>
                                {% endif %}
                                
                                {% if fields.back_button %}
                                    <div class="back-btn btn has-border blue has-arrow">
                                        <svg class="scale-x-[-1]" width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8.55697 10.375L11.8486 6.94618L8.55697 3.51736" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                                            <path d="M1.01411 0.500006L1.0141 5.84896C1.0141 6.45463 1.50566 6.94618 2.11133 6.94618L11.9863 6.94618" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                                        </svg>

                                        <p>{{ fields.back_button }}</p>
                                    </div>
                                {% endif %}

                                {% if fields.form_note %}
                                    <p class="xs form-note">{{ fields.form_note }}</p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
		</div>
	</div>
</section>

