<section class="{{ block.slug }} bg-{{ fields.bg }}">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	<div class="container relative z-[2]">
		<div class="~pt-[7.25rem]/[10.25rem] sb-xxl">
			<div class="flex max-lg:flex-col ~gap-[2.25rem]/[8.625rem]">
				<div class="lg:flex-1 lg:basis-[27rem] xl:shrink-0 flex flex-col ~gap-[1.25rem]/[1.5rem]">
					{% if fields.heading %}
						{% include 'components/heading.twig' with {
                            'class': 'main-title',
                            'value': fields.heading.value, 
                            'type': fields.heading.type != "default" ? fields.heading.type : "h1",
                            'has_custom_style': fields.heading.has_custom_style,
                            'style': fields.heading.style,
                            'to_words': true
                        } %}
					{% endif %}

					{% if fields.paragraph %}
						<p class="para-desc mt-auto">{{ fields.paragraph }}</p>
					{% endif %}

					{% if fields.ctas|length %}
						<div class="flex flex-wrap gap-[0.75rem]">
							{% for cta in fields.ctas %}
								{% include 'components/cta.twig' with {
                                    'class': cta.type == 'filled' ? 'filled blue' : 'has-border blue',
                                    'cta': cta.link, 
                                    'icon': true,
                                } %}
							{% endfor %}
						</div>
					{% endif %}
				</div>

				{% if fields.image  %}
					<div class="lg:flex-1 lg:basis-[48.375rem] rounded-[0.5rem] overflow-hidden relative">
						<div class="ticker translate-y-[-100%] top-0 right-0 ~w-[1.25rem]/[1.875rem] ~h-[9rem]/[20.25rem] z-[2] absolute flex items-end">
							<svg class="w-full h-auto" width="30" height="324" viewbox="0 0 30 324" fill="none" xmlns="http://www.w3.org/2000/svg">
								<line x1="15" y1="0.112304" x2="15" y2="323.112" stroke="url(#paint0_linear_5567_11126)" stroke-width="30" stroke-dasharray="3 7"/>
								<defs>
									<linearGradient id="paint0_linear_5567_11126" x1="16" y1="0.112304" x2="15.2705" y2="323.117" gradientunits="userSpaceOnUse">
										<stop stop-color="#6AFF96" stop-opacity="0"/>
										<stop offset="1" stop-color="#6AFF96"/>
									</linearGradient>
								</defs>
							</svg>
						</div>
						{% include 'components/image.twig' with {
                            'image': fields.image,
                            'size': [774, 580],
                        } %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="absolute bottom-0 w-full center-x min-w-[90rem]">
		<div class="lottie" data-json="{{ function("json", "lottie/green-trail-on-light") }}"></div>
	</div>
</section>

