<section class="{{ block.slug }} bg-{{ fields.bg }} overflow-clip">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "pt-[6.875rem]" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xl" %}

	<div class="container">
		<div class="{{ pt }} {{ pb }}">
			<div class="inner flex max-lg:flex-col ~gap-[1.25rem]/[8.625rem]">
				{% if (fields.gallery_type == "is-360-image" and fields.product_images|length) or (fields.gallery_type == "is-single-image" and fields.product_image.base_image) or (fields.gallery_type == "is-solo" and fields.product_image_solo) %}
					<div class="lg:flex-1 lg:basis-[41.25rem]">
						<div class="box-outer lg:sticky lg:top-0 max-lg:pt-0 pt-[4rem]">
							<div class="~h-[16.5rem]/[36.375rem]">
								<div class="box w-full h-full relative bg-{{ fields.bg }}">
									{% if fields.gallery_type == "is-360-image" and fields.product_images|length %}
										<div class="product-images" data-images='{{ image_urls | json_encode }}'>
											{% include 'components/image.twig' with {
                                                'image': fields.product_images[0],
                                                'loading': "eager",
                                                'class': 'product-image active',
                                                'size': [660, 582],
                                            } %}
										</div>
									{% endif %}

									{% if fields.gallery_type == "is-single-image" and fields.product_image.base_image %}
										<div class="product-single-image">
											{% include 'components/image.twig' with {
                                                'image': fields.product_image.base_image,
                                                'loading': "eager",
                                                'class': 'product-image single',
                                                'size': [660, 582],
                                            } %}

											{% include 'components/image.twig' with {
                                                'image': fields.product_image.hover_image,
                                                'loading': "eager",
                                                'class': 'product-image single',
                                                'size': [660, 582],
                                            } %}
										</div>
									{% endif %}

									{% if fields.gallery_type == "is-solo" and fields.product_image_solo %}
										<div class="product-solo-image">
											{% include 'components/image.twig' with {
                                                'image': fields.product_image_solo,
                                                'loading': "eager",
                                                'class': 'product-image solo',
                                                'size': [660, 582],
                                            } %}
										</div>
									{% endif %}

									{% if fields.gallery_type != "is-solo" %}
										<div class="orb">
											{% if fields.gallery_type == "is-360-image" and fields.product_images|length %}
												<small class="text-white progress">{{ fields.click_text }}</small>
												<small class="text-white hidden">{{ fields.hover_text }}</small>
											{% else %}
												<small class="text-white">{{ fields.hover_text }}</small>
											{% endif %}
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				{% endif %}

				<div class="flex flex-col lg:flex-1 lg:basis-[34.125rem] ~gap-[3rem]/[4rem]">
					<div class="flex flex-col ~gap-[1.5rem]/[2.25rem]">
						<div class="flex flex-col gap-[0.75rem] max-lg:pt-0 pt-[6.75rem]">
							{% include 'components/eyebrow.twig' with { 'text': fields.eyebrow } %}

							{% if fields.heading %}
								{% include 'components/heading.twig' with {
                                    'class': 'main-title',
                                    'value': fields.heading.value, 
                                    'type': fields.heading.type != "default" ? fields.heading.type : "h1",
                                    'has_custom_style': fields.heading.has_custom_style,
                                    'style': fields.heading.style,
                                    'to_words': true
                                } %}
							{% endif %}
						</div>

						{% if fields.paragraph or fields.cta %}
							<div class="flex flex-col ~gap-[1.25rem]/[1.5rem]">
								{% if fields.paragraph %}
									<p class="para-desc">{{ fields.paragraph }}</p>
								{% endif %}

								{% if fields.ctas|length %}
									<div class="flex flex-wrap gap-[0.75rem]">
										{% for cta in fields.ctas %}
											{% if cta.link %}
												{% set link_url = cta.link.url ?: "#" %}
												{% set link_title = cta.link.title %}
												{% set link_target = cta.link.target ?: "_self" %}

												{% set type = cta.type == 'filled' ? 'filled blue' : 'has-border blue' %}

												{% if not cta.has_embed_text %}
													<a class="btn {{ type }} has-arrow" type="button" href="{{ link_url }}" target="{{ link_target }}">
														<svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
															<path d="M8.55697 10.375L11.8486 6.94618L8.55697 3.51736" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
															<path d="M1.01411 0.500006L1.0141 5.84896C1.0141 6.45463 1.50566 6.94618 2.11133 6.94618L11.9863 6.94618" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
														</svg>

														<p>{{ link_title }}</p>
													</a>
												{% endif %}

												{% if cta.has_embed_text and cta.embed_text %}
													<div class="btn embed-btn {{ type }}" data-url="{{ link_url }}">
														<svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
															<path d="M8.55697 10.375L11.8486 6.94618L8.55697 3.51736" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
															<path d="M1.01411 0.500006L1.0141 5.84896C1.0141 6.45463 1.50566 6.94618 2.11133 6.94618L11.9863 6.94618" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
														</svg>

                                                        <p>{{ link_title }}</p>

														{{ cta.embed_text }}
													</div>
												{% endif %}
											{% endif %}
										{% endfor %}
									</div>
								{% endif %}
							</div>
						{% endif %}
					</div>

					<div class="flex flex-col ~gap-[1.25rem]/[1.5rem]">
						<div class="flex flex-col gap-[0.75rem]">
							{% if fields.accordion_title %}
								<small class="text-black-60">{{ fields.accordion_title }}</small>
							{% endif %}

							{% if fields.accordions|length %}
								<div class="flex flex-col">
									{% for acc in fields.accordions %}
										<div class="acc">
											<div class="acc-head">
												{% if acc.title %}
													<p>{{ acc.title }}</p>
												{% endif %}

												<svg class="h-[1.25rem] w-[1.25rem]" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path class="stroke-[0.0625rem]" d="M4 10H16" stroke="#262626"/>
													<path class="stroke-[0.0625rem]" d="M10 16L10 4" stroke="#262626"/>
												</svg>
											</div>

											<div class="acc-body">
												{% if acc.details|length %}
													<table cellpadding="0" cellspacing="0" border="0">
														{% for detail in acc.details %}
															<tr>
																<td class="w-[50%]">
																	<p class="xs">{{ detail.name }}</p>
																</td>
																<td class="w-[50%]">
																	<div class="rich-text xs">{{ detail.description }}</div>
																</td>
															</tr>
														{% endfor %}
													</table>
												{% endif %}
											</div>
										</div>
									{% endfor %}
								</div>
							{% endif %}
						</div>

						{% if fields.accordion_footer_cta or fields.accordion_footer_cta_2  %}
							<div class="flex flex-wrap ~gap-[1.25rem]/[1.5rem]">
								{% if fields.accordion_footer_cta %}
									{% set link_url = fields.accordion_footer_cta.url ?: "#" %}
									{% set link_title = fields.accordion_footer_cta.title %}
									{% set link_target = fields.accordion_footer_cta.target ?: "_self" %}

									<a class="btn plain black uline has-arrow" type="button" href="{{ link_url }}" target="{{ link_target }}">
										<svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M8.55697 10.375L11.8486 6.94618L8.55697 3.51736" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
											<path d="M1.01411 0.500006L1.0141 5.84896C1.0141 6.45463 1.50566 6.94618 2.11133 6.94618L11.9863 6.94618" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
										</svg>

										<p>{{ link_title }}</p>
									</a>
								{% endif %}

								{% if fields.accordion_footer_cta_2 %}
									{% set link_url = fields.accordion_footer_cta_2.url ?: "#" %}
									{% set link_title = fields.accordion_footer_cta_2.title %}
									{% set link_target = fields.accordion_footer_cta_2.target ?: "_self" %}

									<a class="btn plain black uline has-arrow" type="button" href="{{ link_url }}" target="{{ link_target }}">
										<svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M8.55697 10.375L11.8486 6.94618L8.55697 3.51736" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
											<path d="M1.01411 0.500006L1.0141 5.84896C1.0141 6.45463 1.50566 6.94618 2.11133 6.94618L11.9863 6.94618" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
										</svg>

										<p>{{ link_title }}</p>
									</a>
								{% endif %}
							</div>
						{% endif %}

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
