{% if fields.items|length %}
	<section class="{{ block.slug }}">
		{% if block.anchor %}
			<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
		{% endif %}

		<div class="grid {{ fields.items|length == 4 ? " grid-cols-2 lg:grid-cols-4" : " grid-cols-3" }} ~gap-[1.25rem]/[1.5rem]">
			{% for item in fields.items %}
				<div class="flex gap-[0.75rem] md:items-center max-md:flex-col">
					{% if item.icon %}
						<div class="h-[3.5rem] w-[3.5rem] shrink-0">
							{% include 'components/image.twig' with {
                                'image': item.icon,
                                'class': 'object-contain',
                                'size': [56, 56],
                            } %}
						</div>
					{% endif %}

					{% if item.eyebrow or item.title %}
						<div class="flex-1 h-fit md:justify-center flex flex-col gap-[0.75rem]">
							{% if item.eyebrow %}
								<small class="text-black-60">{{ item.eyebrow }}</small>
							{% endif %}

							{% if item.title %}
								<p class="sm">{{ item.title }}</p>
							{% endif %}
						</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</section>
{% endif %}
