<section class="{{ block.slug }} bg-{{ fields.bg }}">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}
    
	<div class="container relative z-[2]">
		<div class="~pt-[7.25rem]/[8.25rem] sb-xl">
            <div class="flex flex-col ~gap-[1.25rem]/[1.5rem] max-w-[48.375rem]">
                {% if fields.heading %}
                    {% include 'components/heading.twig' with {
                        'class': 'main-title',
                        'value': fields.heading.value, 
                        'type': fields.heading.type != "default" ? fields.heading.type : "h1",
                        'has_custom_style': fields.heading.has_custom_style,
                        'style': fields.heading.style,
                        'to_words': true
                    } %}
                {% endif %}

                {% if fields.paragraph %}
                    <p class="para-desc">{{ fields.paragraph }}</p>
                {% endif %}
            </div>
		</div>
	</div>

    {% if not fields.hide_lottie %}
        <div class="absolute bottom-[-0.25rem] w-full center-x min-w-[90rem]">
            <div class="lottie" data-json="{{ function("json", "lottie/green-trail-on-light") }}"></div>
        </div>
    {% endif %}
</section>

