{% set is_single = function("is_single") %}

<section class="{{ block.slug }}-{{ fields.coverage }} {{ fields.is_blog_post ? " is-blog-post" }}">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "~pt-[7.25rem]/[10.25rem]" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}

	<div class="inner {{ pt }} {{ pb }}">
		<div class="container">
			<div class="content-outer">
				{% if fields.coverage == 'rc-start' and fields.has_header %}
					{% set title = fields.header.crt_title %}
					{% set subtext = fields.header.subtext %}

					{% if title or subtext %}
						<div class="flex flex-col ~gap-[1.5rem]/[2.25rem] ~pb-[2rem]/[3rem] border-b-[0.0625rem] border-b-gray-2">
							{% if title %}
								{% include 'components/heading.twig' with {
                                    'class': 'main-title text-teal lg:max-w-[80%]',
                                    'value': title, 
                                    'type': "h1",
                                    'has_custom_style': false,
                                    'to_words': true
                                } %}
							{% endif %}

							{% include 'components/eyebrow.twig' with { 'text': subtext } %}
						</div>
					{% endif %}
				{% endif %}

				{% if fields.is_blog_post and fields.show_social_share %}
					<div class="social-share-container">
						<div class="social-share-inner">
							<small class="text-black-60">{{ share_label }}</small>

							<div class="social-shares">
								<a class="social-share" href="https://twitter.com/share?url={{ function(" get_permalink") }}" target="_blank" rel="nofollow noreferrer noopen">
									<svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M11.9539 1.68994H14.0624L9.45607 6.95462L14.875 14.1187H10.632L7.30877 9.77372L3.50622 14.1187H1.39652L6.3234 8.4875L1.125 1.68994H5.47569L8.47962 5.6614L11.9539 1.68994ZM11.2139 12.8567H12.3822L4.84087 2.88565H3.58716L11.2139 12.8567Z" fill="#262626"/>
									</svg>
								</a>

								<a class="social-share" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ function(" get_permalink") }}" target="_blank" rel="nofollow noreferrer noopen">
									<svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M3.99003 5.32556H0.978752C0.845107 5.32556 0.736816 5.4339 0.736816 5.5675V15.2414C0.736816 15.3751 0.845107 15.4834 0.978752 15.4834H3.99003C4.12367 15.4834 4.23196 15.3751 4.23196 15.2414V5.5675C4.23196 5.4339 4.12367 5.32556 3.99003 5.32556Z" fill="#262626"/>
										<path d="M2.48658 0.516418C1.3909 0.516418 0.499512 1.40684 0.499512 2.50131C0.499512 3.59626 1.3909 4.48701 2.48658 4.48701C3.58138 4.48701 4.47204 3.59621 4.47204 2.50131C4.47209 1.40684 3.58138 0.516418 2.48658 0.516418Z" fill="#262626"/>
										<path d="M11.6516 5.08533C10.4422 5.08533 9.54815 5.60525 9.00588 6.196V5.5677C9.00588 5.4341 8.89759 5.32576 8.76394 5.32576H5.88012C5.74647 5.32576 5.63818 5.4341 5.63818 5.5677V15.2416C5.63818 15.3753 5.74647 15.4836 5.88012 15.4836H8.88481C9.01846 15.4836 9.12675 15.3753 9.12675 15.2416V10.4553C9.12675 8.84239 9.56485 8.21404 10.6892 8.21404C11.9137 8.21404 12.011 9.22136 12.011 10.5383V15.2417C12.011 15.3753 12.1192 15.4836 12.2529 15.4836H15.2587C15.3923 15.4836 15.5006 15.3753 15.5006 15.2417V9.93536C15.5006 7.53705 15.0433 5.08533 11.6516 5.08533Z" fill="#262626"/>
									</svg>
								</a>

								<a class="social-share" href="https://www.facebook.com/sharer/sharer.php?u={{ function(" get_permalink") }}" target="_blank" rel="nofollow noreferrer noopen">
									<svg width="8" height="16" viewbox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0.453361 8.489H2.0976V15.2581C2.0976 15.3917 2.20589 15.5 2.33954 15.5H5.12741C5.26105 15.5 5.36935 15.3917 5.36935 15.2581V8.52089H7.25954C7.38244 8.52089 7.48584 8.42866 7.49988 8.30658L7.78696 5.81455C7.79485 5.74598 7.77312 5.67732 7.72725 5.62589C7.68133 5.5744 7.61562 5.54494 7.54667 5.54494H5.36944V3.98281C5.36944 3.5119 5.62299 3.27311 6.12312 3.27311C6.19439 3.27311 7.54667 3.27311 7.54667 3.27311C7.68031 3.27311 7.7886 3.16477 7.7886 3.03118V0.743726C7.7886 0.610081 7.68031 0.50179 7.54667 0.50179H5.58481C5.57097 0.501113 5.54025 0.5 5.49496 0.5C5.15455 0.5 3.97134 0.566823 3.0367 1.42666C2.00112 2.3795 2.14507 3.52037 2.17947 3.71818V5.54489H0.453361C0.319716 5.54489 0.211426 5.65318 0.211426 5.78682V8.24702C0.211426 8.38066 0.319716 8.489 0.453361 8.489Z" fill="#262626"/>
									</svg>
								</a>
							</div>
						</div>
					</div>
				{% endif %}

				<div class="content"></div>
			</div>
		</div>
	</div>

	{% if fields.is_blog_post %}
		<div class="absolute bottom-0 w-full center-x min-w-[90rem]">
			<div class="lottie" data-json="{{ function("json", "lottie/green-trail-on-light") }}"></div>
		</div>
	{% endif %}
</section>
