<section class="{{ block.slug }} bg-{{ fields.bg }}">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}

    {% set arrowBG = fields.bg == 'white' ? 'bg-beige' : 'bg-white' %}

	<div class="container relative z-[2]">
		<div class="{{ pt }} {{ pb }}">
			<div class="flex flex-col ~gap-[2.25rem]/[3rem]">
				<div class="w-full md:max-w-[48.375rem] flex flex-col ~gap-[1.25rem]/[1.5rem]">
					{% if fields.heading or fields.eyebrow %}
						{% include 'components/heading.twig' with {
                            'class': 'main-title',
                            'value': fields.heading.value, 
                            'type': fields.heading.type != "default" ? fields.heading.type : "h3",
                            'has_custom_style': fields.heading.has_custom_style,
                            'style': fields.heading.style,
                            'insert_eyebrow': fields.eyebrow ? true : false,
                            'eyebrow': fields.eyebrow,
                            'to_words': true
                        } %}
					{% endif %}

					{% if fields.paragraph %}
						<p class="para-desc">{{ fields.paragraph }}</p>
					{% endif %}
				</div>

				{% if fields.items|length %}
					<div class="flex flex-col gap-[1.25rem]">
						<div class="box rounded-[0.5rem] h-auto sm:h-[38.75rem] max-sm:pb-0 ~p-[2.25rem]/[3rem] bg-black relative overflow-hidden max-sm:flex max-sm:flex-col max-sm:gap-[1.25rem]">
							<div class="w-full relative h-full z-[3]">
								{% for index, item in fields.items %}
									<div class="item {{ loop.index == 1 ? " active" }}" data-index="{{ index }}">
										<div class="flex flex-col ~gap-[1.25rem]/[1.5rem] md:max-w-[calc(100%-10rem)] lg:max-w-[35.5rem] relative z-[2]">
											{% if item.heading %}
												{% include 'components/heading.twig' with {
                                                    'class': 'text-white',
                                                    'value': item.heading, 
                                                    'type': "h4",
                                                    'to_words': true
                                                } %}
											{% endif %}

											{% if item.paragraph %}
												<p class="item-para text-white w-full">
													{{ item.paragraph }}
												</p>
											{% endif %}

											<div class="item-cta">
												{% include 'components/cta.twig' with {
                                                    'class' : 'has-border white',
                                                    'cta': item.cpc_cta, 
                                                    'icon': true,
                                                } %}
											</div>
										</div>

										{% if item.image %}
											<div class="parallax item-image">
												{% include 'components/image.twig' with {
                                                    'image': item.image,
                                                    'class': "object-contain relative",
                                                    'size': [655, 655],
                                                } %}
											</div>
										{% endif %}
									</div>
								{% endfor %}
							</div>

							<div class="arrows desktop">
								<div class="ar-l borderized active">
                                    <svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13 16.1123L7 10.1123L13 4.1123"/>
                                    </svg>
                                </div>

                                <div class="ar-r borderized active">
                                    <svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7 4.1123L13 10.1123L7 16.1123"/>
                                    </svg>
                                </div>
							</div>

							<div class="orb">
								<img class="object-contain" loading="lazy" src="{{ function("webp", "orb-green") }}" alt="moving orb">
							</div>

							<div class="absolute top-0 left-0 h-[calc(100%-6.75rem)] w-full z-[1] pointer-events-none overflow-hidden">
								<div class="absolute top-0 left-0 h-full w-full z-[2]" style="background: linear-gradient(180deg, rgba(38, 38, 38, 0.00) 0%, #262626 100%);"></div>
								<div class="lottie" data-json="{{ function("json", "lottie/green-trail-dark") }}"></div>
							</div>
						</div>

						<div class="md:hidden flex shrink-0 gap-[0.75rem] max-lg:justify-between">
							<div class="ar-l active {{ arrowBG }}">
                                <svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13 16.1123L7 10.1123L13 4.1123"/>
                                </svg>
                            </div>

                            <div class="ar-r active {{ arrowBG }}">
                                <svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 4.1123L13 10.1123L7 16.1123"/>
                                </svg>
                            </div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>

