<section class="{{ block.slug }} bg-{{ fields.bg }} overflow-x-clip overflow-y-visible z-[2]">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "~pb-[7.5rem]/[9rem]" %}

	<div class="container relative z-[2]">
		<div class="{{ pt }} {{ pb }}">
			<div class="flex max-xl:flex-col gap-[4rem] xl:gap-[8.62rem]">
                <div class="md:flex-1">
                    {% set words = fields.heading|split(' ') %}
                    <h3 class="main-title flex flex-wrap">{% include 'components/eyebrow.twig' with { 'class' : "shrink-0 align-top h-fit relative pt-[0.75rem] tracking-[normal] max-sm:w-full pb-[1.5rem]", 'text': fields.eyebrow } %}<span class="max-sm:hidden w-[5rem]"></span>{% for word in words %}<span class="word">{{ word }}&nbsp;</span>{% endfor %}</h3>
				</div>

				{% if fields.stats %}
					<div class="grid md:grid-cols-2 ~gap-[0.75rem]/[1.5rem] w-full xl:w-[34.125rem] 2xl:w-[40%] shrink-0 h-fit">
						{% for index, stat in fields.stats %}
							<div class="item relative ~px-[1.5rem]/[2.25rem] ~pt-[3rem]/[4rem] ~pb-[1.5rem]/[2.25rem] rounded-[0.5rem] overflow-hidden bg-{{ stat.bg }} {{ index == 0 ? " md:col-span-2" }}">
								<div class="flex flex-col gap-[0.75rem] relative z-[2]">
									{% if stat.amount %}
										<h2 class="{{ stat.bg == 'dark-green' ? 'text-black' : 'text-white' }}"><span data-amount="{{ stat.amount }}">0</span>{{ stat.suffix }}</h2>
									{% endif %}

									{% if stat.paragraph %}
										<p class="{{ stat.bg == 'dark-green' ? 'text-black' : 'text-white' }}">
											{{ stat.paragraph }}
										</p>
									{% endif %}
								</div>

								<div class="orb absolute pointer-events-none top-0 left-0 z-[1] opacity-0 {{ index == 0 ? " w-[37.5rem] h-[37.5rem]" : " w-[25rem] h-[25rem]" }}">
									<img class="object-contain opacity-40" loading="lazy" src="{{ function("webp", "orb-white") }}" alt="moving orb">
								</div>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="parallax absolute ~left-[-5.5rem]/[-5.94rem] ~bottom-[-0.625rem]/[-4.34rem]">
		<img class="~w-[24.75rem]/[39.375rem] ~h-[5.5rem]/[8.6875rem] object-contain" src="{{ function("svg", "stats") }}" loading="lazy" alt="background graphic">
	</div>
</section>
