{% if blogs|length %}
<section class="{{ block.slug }} bg-{{ fields.bg }}">
    {% if block.anchor %}
        <div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
    {% endif %}

    {% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xl" %}
    {% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}

    <div class="container">
        <div class="{{ pt }} {{ pb }} relative z-[2]">
            <div class="flex max-lg:flex-col ~gap-[1.5rem]/[2.25rem]">
                <div class="lg:flex-1 lg:max-w-[14.375rem] lg:shrink-0 lg:pr-[1rem] lg:border-r-[0.0625rem] border-r-black-20">
                    <div class="flex lg:flex-col gap-[0.75rem] max-lg:flex-wrap max-lg:hidden">
                        <div class="cat-show-all active" value="show-all">
                            <p>{{ fields.all_filters_text }}</p>
                        </div>

                        {% set uncategorized = ['uncategorized', 'nicht-kategorisiert'] %}

                        {% for index, item in categories %}
                            {% if item.parent %}
                                <div class="cat-parent">
                                    <div class="cat-head">
                                        <p>{{ item.category.name }}</p>

                                        <svg class="h-[0.3125rem] w-auto" width="9" height="5" viewbox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 0.968099L4.42882 4.25977L7.85764 0.968099" stroke="#262626" stroke-miterlimit="10"/>
                                        </svg>
                                    </div>

                                    <div class="cat-body">
                                        <div class="cat-body-inner">
                                            <div class="cat-body-all" value="{{ item.category.slug }}-all">
                                                <p>{{ fields.all_filters_text }}</p>
                                            </div>

                                            {% for index, child in item.children %}
                                                {% if child.slug not in uncategorized %}
                                                    <div class="cat-btn">
                                                        <input type="checkbox" value="{{ child.slug }}">
                                                        <p>{{ child.name }}</p>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                {% if item.category.slug not in uncategorized %}
                                    <div class="cat-btn">
                                        <input type="checkbox" value="{{ item.category.slug }}">
                                        <p>{{ item.category.name }}</p>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="lg:hidden w-full">
                        <div class="jselect">
                            <select>
                                <option value="show-all" selected>{{ fields.all_filters_text }}</option>

                                {% for index, item in categories %}
                                    {% if item.parent %}
                                        <option class="parent" value="{{ item.category.slug }}-all">{{ item.category.name }} ({{ fields.all_filters_text }})</option>

                                        {% for index, child in item.children %}
                                            <option class="child" value="{{ child.slug }}">{{ child.name }}</option>
                                        {% endfor %}

                                    {% else %}
                                        <option value="{{ item.category.slug }}">{{ item.category.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>

                            <svg class="w-[1.5rem] h-[1.5625rem]" width="24" height="25" viewbox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 9.11328L12 15.1133L6 9.11328" stroke="#262626"/>
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-[1rem] flex-1 h-fit">
                    <div class="flex max-md:flex-col md:mx-[-1.125rem] md:flex-wrap">
                        {% set form_added = false %}
                        {% set post_count = blogs|length %}

                        {% for index, blog in blogs %}
                            {% set id = blog.post.ID %}
                            {% set post_type = function("get_post_type", id) %}
                            {% set post_date = blog.post.post_date|date("n/j/Y") %}

                            {% if function("get_language", true) != "English" %}
                                {% set post_date = blog.post.post_date|date("j/n/Y") %}
                            {% endif %}
                            
                            {% set image = blog.image %}

                            {% set category_names = [] %}

                            {% if post_type != "post" %}
                                {% for category in blog.post.meta("tax") %}
                                    {% set category_names = category_names | merge([category.slug]) %}
                                {% endfor %}
                            {% else %}
                                {% for category in blog.post.categories %}
                                    {% set category_names = category_names | merge([category.slug]) %}
                                {% endfor %}
                            {% endif %}

                            {% include 'components/blog-card.twig' with {
                                "cardClass": "blog-item in-filter",
                                "title": blog.post.title,
                                "eyebrow": function("get_post_type_translation", post_type),
                                "permalink": blog.post.link,
                                "image": image,
                                "date": post_date,
                                "categories": category_names,
                            } %}

                            {% if not form_added and fields.has_email_form %}
                                {% set region = fields.email_form.region %}
                                {% set form_id = fields.email_form.form_id %}
                                {% set portal_id = fields.email_form.portal_id %}
                                {% set lang_code = function("get_language") %}

                                {% if lang_code != "en" %}
                                    {% set form_id = fields.email_form["form_id_" ~ lang_code] ?: fields.email_form.form_id %}
                                {% endif %}

                                {% if region and form_id and portal_id %}
                                    {% if post_count >= 2 %}
                                        {% if index == 1 %}
                                            <div class="blog-card blog-item email-form" data-category="all">
                                                <div class="blog-card-inner">
                                                    <div class="flex gap-[0.75rem]">
                                                        <img class="w-[1.5625rem] h-[1.5625rem] object-contain" src="{{ function("png", "rss") }}" width="25" height="25" loading="lazy" alt="rss">
                                                        <p class="lg text-white">{{ fields.email_form.rg_ef_title ?: 'Stay connected' }}</p>
                                                    </div>

                                                    <div class="form-container res-grid" data-region="{{ region }}" data-form-id="{{ form_id }}" data-portal-id="{{ portal_id }}"></div>

                                                    <div class="blog-form-graphic">
                                                        <img class="object-contain" src="{{ function("svg", "form-robot") }}" width="218" height="214" loading="lazy" alt="form robot background">
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="blog-card blog-item email-form" data-category="all">
                                            <div class="blog-card-inner">
                                                <div class="flex gap-[0.75rem]">
                                                    <img class="w-[1.5625rem] h-[1.5625rem] object-contain" src="{{ function("png", "rss") }}" width="25" height="25" loading="lazy" alt="rss">
                                                    <p class="lg text-white">{{ fields.email_form.rg_ef_title ?: 'Stay connected' }}</p>
                                                </div>

                                                <div class="form-container res-grid" data-region="{{ region }}" data-form-id="{{ form_id }}" data-portal-id="{{ portal_id }}"></div>

                                                <div class="blog-form-graphic">
                                                    <img class="object-contain" src="{{ function("svg", "form-robot") }}" width="218" height="214" loading="lazy" alt="form robot background">
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="empty hidden text-center">
                        <p class="lg">{{ fields.empty_state_text }}</p>
                    </div>

                    <div class="btn load-more has-arrow blue filled mx-auto">
                        <svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.55697 10.375L11.8486 6.94618L8.55697 3.51736" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                            <path d="M1.01411 0.500006L1.0141 5.84896C1.0141 6.45463 1.50566 6.94618 2.11133 6.94618L11.9863 6.94618" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                        </svg>

                        <p>{{ fields.load_more_text }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
