<a class="blog-card {{ cardClass ? cardClass }}" href="{{ permalink }}" {{ categories ? "data-category='" ~ categories | json_encode | raw ~ "'" }}>
	<div class="blog-card-inner">
		<div class="flex flex-col gap-[0.75rem]">
			{% if image %}
				{% include 'components/image.twig' with {
                    'image': image,
                    'class': "blog-card-image h-[11.5rem] rounded-[0.5rem] overflow-hidden",
                    'size': "large",
                } %}
			{% else %}
				<img class="blog-card-image h-[11.5rem] rounded-[0.5rem] overflow-hidden" loading="lazy" src="{{ function("png", "placeholder") }}" alt="omron placeholder image">
			{% endif %}

			<div class="flex justify-between gap-[1.5rem]">
				{% include 'components/eyebrow.twig' with { 'text': eyebrow ?: 'Blog' } %}
				<small class="text-black-60">{{ date }}</small>
			</div>
		</div>

		<p class="lg">{{ title }}</p>
	</div>
</a>
