{% if cta %}
	{% set link_url = cta.url ?: "#" %}
	{% set link_title = cta.title %}
	{% set link_target = cta.target ?: "_self" %}

	{% if 'embed:' in link_url %}
		<div class="btn embed-btn {{ class ? class }} {{ icon ? " has-arrow" }}">
			{% if icon %}
				<svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M8.55697 10.375L11.8486 6.94618L8.55697 3.51736" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
					<path d="M1.01411 0.500006L1.0141 5.84896C1.0141 6.45463 1.50566 6.94618 2.11133 6.94618L11.9863 6.94618" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
				</svg>
			{% endif %}

            <p>{{ link_title }}</p>

			{{ link_url|replace({'embed:': ''}) }}
		</div>
	{% else %}
		<a class="btn {{ class ? class }} {{ icon ? " has-arrow" }}" type="button" href="{{ link_url }}" target="{{ link_target }}">
			{% if icon %}
				<svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M8.55697 10.375L11.8486 6.94618L8.55697 3.51736" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
					<path d="M1.01411 0.500006L1.0141 5.84896C1.0141 6.45463 1.50566 6.94618 2.11133 6.94618L11.9863 6.94618" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
				</svg>
			{% endif %}

			<p>{{ link_title }}</p>
		</a>
	{% endif %}
{% endif %}
