{# {{ function('dd', fields) }} #}

{% if fields.items|length %}
		<section class="{{ block.slug }}">
		{% if block.anchor %}
			<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
		{% endif %}

		<div class="s-nav">
			<div class="s-nav-outer">
				<div class="container">
					<div class="s-nav-inner">
						{% for item in fields.items %}
							{% if item.is_parent %}
								{% if item.csn_items_title %}
									<div class="item parent">
										<div class="item-inner">
											<p class="xs">{{ item.csn_items_title }}</p>

											<svg class="shrink-0 w-[0.5625rem] h-[0.3125rem]" width="9" height="5" viewbox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M1 0.354207L4.42882 3.64587L7.85764 0.354207" stroke="#262626" stroke-miterlimit="10"/>
											</svg>
										</div>

										{% if item.children|length %}
											<div class="item-children bg-{{ fields.bg }}">
												{% for child in item.children %}
													{% set cta = child.link %}
													{% if cta %}
														{% set link_url = cta.url ?: "#" %}
														{% set link_title = cta.title %}
														{% set link_target = cta.target ?: "_self" %}

														<a class="item-child" href="{{ link_url }}" target="{{ link_target }}">
															<p class="xs">{{ link_title }}</p>
														</a>
													{% endif %}
												{% endfor %}
											</div>
										{% endif %}
									</div>
								{% endif %}
							{% else %}
								{% set cta = item.link %}
								{% if cta %}
									{% set link_url = cta.url ?: "#" %}
									{% set link_title = cta.title %}
									{% set link_target = cta.target ?: "_self" %}

									<a class="item" href="{{ link_url }}" target="{{ link_target }}">
										<div class="item-inner">
											<p class="xs">{{ link_title }}</p>
										</div>
									</a>
								{% endif %}
							{% endif %}
						{% endfor %}
					</div>
				</div>

				<div class="s-nav-mobile">
					<div class="container">
						<div class="s-nav-mobile-select">
							{% for item in fields.items %}
								{% if loop.index == 1 %}
									{% if item.is_parent %}
										{% if item.csn_items_title %}
											<p class="xs">{{ item.csn_items_title }}</p>
										{% endif %}
									{% else %}
										{% set cta = item.link %}
										{% if cta %}
											{% set link_title = cta.title %}
											<p class="xs">{{ link_title }}</p>
										{% endif %}
									{% endif %}
								{% endif %}
							{% endfor %}

							<svg class="shrink-0 w-[0.5625rem] h-[0.3125rem]" width="9" height="5" viewbox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 0.354207L4.42882 3.64587L7.85764 0.354207" stroke="#262626" stroke-miterlimit="10"/>
							</svg>
						</div>
					</div>

					<div class="s-nav-mobile-dd">
						<div class="s-nav-mobile-dd-inner">
							{% for item in fields.items %}
								{% if item.is_parent %}
									{% if item.csn_items_title %}
										<div class="s-nav-mobile-item container">
											<div class="item parent">
												<div class="item-inner">
													<p class="xs">{{ item.csn_items_title }}</p>
												</div>

												{% if item.children|length %}
													<div class="item-children">
														{% for child in item.children %}
															{% set cta = child.link %}
															{% if cta %}
																{% set link_url = cta.url ?: "#" %}
																{% set link_title = cta.title %}
																{% set link_target = cta.target ?: "_self" %}

																<a class="item-child anchor" href="{{ link_url }}" target="{{ link_target }}">
																	<p class="xs">{{ link_title }}</p>
																</a>
															{% endif %}
														{% endfor %}
													</div>
												{% endif %}
											</div>
										</div>
									{% endif %}
								{% else %}
									{% set cta = item.link %}
									{% if cta %}
										{% set link_url = cta.url ?: "#" %}
										{% set link_title = cta.title %}
										{% set link_target = cta.target ?: "_self" %}

										<div class="s-nav-mobile-item container">
											<a class="item anchor" href="{{ link_url }}" target="{{ link_target }}">
												<div class="item-inner">
													<p class="xs">{{ link_title }}</p>
												</div>
											</a>
										</div>
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}
