<section class="{{ block.slug }} bg-{{ fields.bg }}">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}

	<div class="container">
		<div class="{{ pt }} {{ pb }}">
			<div class="flex flex-col">
				{% if fields.heading %}
					{% include 'components/heading.twig' with {
                        'class': 'main-title',
                        'value': fields.heading.value, 
                        'type': fields.heading.type != "default" ? fields.heading.type : "h3",
                        'has_custom_style': fields.heading.has_custom_style,
                        'style': fields.heading.style,
                        'to_words': true
                    } %}
				{% endif %}

				{% if fields.items|length %}
					<div class="flex flex-col w-full">
						{% for item in fields.items %}
                            {% if item.anchor %}
                                <div class="pointer-events-none translate-y-[-5rem]" id="{{ item.anchor }}"></div>
                            {% endif %}
                            
							<div class="item lg:sticky lg:top-[4rem] in-center backface-hidden grid grid-cols-1 md:grid-cols-2 gap-[1.5rem] pt-[1.5rem] max-md:pb-[1.5rem] lg:will-change-transform bg-{{ fields.bg }} md:min-h-[38.75rem]">
								{% if item.image  %}
									<div class="h-full ~py-[0.25rem]/[1.375rem] ~px-[0.75rem]/[2.25rem] bg-beige flex items-center justify-center">
										{% include 'components/image.twig' with {
                                            'image': item.image,
                                            'class': "~h-[18rem]/[36.0625rem] max-md:min-w-full ~w-[18rem]/[36.0625rem] object-contain mix-blend-multiply",
                                            'size': [577, 577],
                                        } %}
									</div>
								{% endif %}

								<div class="md:border-t-[0.0625rem] border-t-grey-60 flex flex-col justify-center ~pr-[0rem]/[7.25rem] ~gap-[1.5rem]/[2.25rem] max-md:pb-0 md:py-[1.5rem]">
									<div class="flex flex-col ~gap-[1.25rem]/[1.5rem]">
										<div class="flex ~gap-[1.25rem]/[1.5rem]">
											<small class="text-black-60 relative ~top-[0.125rem]/[0.625rem]">{{ loop.index <= 9 ? '0' ~ loop.index : loop.index }}</small>

											{% if item.cob_items_title %}
												<h5 class="flex-1">{{ item.cob_items_title }}</h5>
											{% endif %}
										</div>

										{% if item.paragraph %}
											<p>{{ item.paragraph }}</p>
										{% endif %}
									</div>

									{% if item.details|length %}
										<table>
                                            {% for detail in item.details %}
                                                <tr>
                                                    <td><p class="xs">{{ detail.label }}</p></td>
                                                    <td><p class="xs">{{ detail.description }}</p></td>
                                                </tr>
                                            {% endfor %}
                                        </table>
									{% endif %}

									{% include 'components/cta.twig' with {
                                        'class' : 'filled blue',
                                        'cta': item.cob_cta, 
                                        'icon': true,
                                    } %}
								</div>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>

