<section class="{{ block.slug }} bg-{{ fields.bg }} overflow-y-visible overflow-x-clip">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "pt-[5rem]" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "~pb-[5rem]/[3.75rem]" %}

	<div class="container">
		<div class="{{ pt }} {{ pb }}">
			<div class="inner flex max-lg:flex-col ~gap-[1.25rem]/[6.75rem] items-center">
				<div class="flex flex-col lg:flex-1 lg:basis-[34.125rem] ~gap-[1.25rem]/[1.5rem] relative">
					{% include 'components/heading.twig' with {
                        'class': 'main-title',
                        'value': fields.heading.value, 
                        'type': fields.heading.type != "default" ? fields.heading.type : "h2",
                        'has_custom_style': fields.heading.has_custom_style,
                        'style': fields.heading.style,
                        'to_words': true
                    } %}

					{% if fields.paragraph %}
						<p class="para-desc">{{ fields.paragraph }}</p>
					{% endif %}
                    
                    {% if fields.cta or fields.secondary_cta %}
                        <div class="flex flex-wrap gap-[0.75rem]">
                            {% include 'components/cta.twig' with { 
                                'class' : 'filled blue',
                                'cta': fields.cta, 
                                'icon': true,
                            } %}

                            {% if fields.secondary_cta %}
                                {% include 'components/cta.twig' with {
                                    'class' : 'has-border blue',
                                    'cta': { title: fields.secondary_cta.title, url: fields.secondary_cta.url, target: "_blank" },
                                    'icon': true,
                                } %}
                            {% endif %}
                        </div>
                    {% endif %}
				</div>

				{% if fields.main_image %}
					<div class="max-lg:w-full lg:basis-[50rem] lg:flex-1 flex justify-center">
						<div class="max-md:h-[22.5rem] h-[37.5rem] min-w-full max-md:w-full md:w-[50rem] relative">
							{% include 'components/image.twig' with {
                                'image': fields.main_image,
                                'class': 'object-contain h-full w-full pointer-events-none',
                                'size': "large",
                            } %}

							{% if fields.points|length %}
								<div class="diagram-container">
									{% for point in fields.points %}
										<div class="point" style="left: {{ point.coordinates.x }}%; top: {{ point.coordinates.y }}%;">
											<div class="point-orb">
												<div class="point-slash-y"></div>
												<div class="point-slash-x"></div>
											</div>

											<div class="point-card">
												{% include 'components/image.twig' with {
                                                    'image': point.image,
                                                    'class': 'h-[10.5rem]',
                                                    'size': "medium",
                                                } %}

												<div class="point-card-body">
													<div class="flex gap-[1rem]">
														<small class="text-black-60 leading-[100%] h-fit text-[0.75rem] relative top-[0.25rem] shrink-0">{{ loop.index <= 9 ? '0' ~ loop.index : loop.index }}</small>

														{% if point.title %}
															<h6 class="flex-1">{{ point.title }}</h6>
														{% endif %}
													</div>

													{% if point.description %}
														<p>{{ point.description }}</p>
													{% endif %}
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							{% endif %}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<dialog>
		<div class="dialog-close">
			<svg class="h-[2.25rem] w-[2.3125rem]" width="36" height="37" viewbox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
				<rect x="0.5" y="1.31738" width="35" height="35" rx="17.5" fill="#1263FF"/>
				<rect x="0.5" y="1.31738" width="35" height="35" rx="17.5" stroke="#1263FF"/>
				<path d="M12 24.8174L24 12.8174" stroke="white"/>
				<path d="M24.0001 24.8174L12 12.8174" stroke="white"/>
			</svg>
		</div>
	</dialog>
</section>

