<section class="{{ block.slug }} bg-{{ fields.bg }}">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	<div class="container relative z-[2]">
		<div class="~pt-[7.25rem]/[10.25rem] sb-xxl">
			<div class="flex max-lg:flex-col ~gap-[2.25rem]/[8.75rem]">
				<div class="lg:basis-[27rem] lg:flex-1">
					<div class="flex flex-col ~gap-[1.25rem]/[1.5rem]">
						{% include 'components/heading.twig' with {
                            'class': 'main-title',
                            'value': fields.heading.value, 
                            'type': fields.heading.type != "default" ? fields.heading.type : "h1",
                            'has_custom_style': fields.heading.has_custom_style,
                            'style': fields.heading.style,
                            'to_words': true
                        } %}

						{% if fields.paragraph %}
							<p class="para-desc">{{ fields.paragraph }}</p>
						{% endif %}
					</div>
				</div>

				{% set region = fields.hubspot_form.region %}
				{% set form_id = fields.hubspot_form.form_id %}
				{% set portal_id = fields.hubspot_form.portal_id %}
                {% set lang_code = function("get_language") %}

                {% if lang_code != "en" %}
                    {% set form_id = fields.hubspot_form["form_id_" ~ lang_code] ?: fields.hubspot_form.form_id %}
                {% endif %}

				{% if region and form_id and portal_id %}
					<div class="lg:basis-[48.375rem] lg:flex-1 ~min-h-[40.125rem]/[33.75rem] bg-white ~p-[1.25rem]/[3rem] rounded-[0.5rem] overflow-hidden">
						<div class="form-container contact-us" data-region="{{ region }}" data-form-id="{{ form_id }}" data-portal-id="{{ portal_id }}"></div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="parallax absolute left-[3.625rem] max-md:left-[unset] max-md:right-[0.5rem] ~bottom-[0rem]/[-17rem]">
		<img class="~w-[15.375rem]/[16.875rem] ~h-[41.125rem]/[45rem] object-contain" src="{{ function("svg", "hero-form") }}" loading="lazy" alt="background graphic">
	</div>
</section>

