<section class="{{ block.slug }} bg-{{ fields.bg }}">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xl" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xl" %}

	<div class="{{ pt }} {{ pb }}">
		<div class="container">
			{% set table = fields.table %}
			{% if table is not empty %}
				<div class="table-container">
                    <table>
                        {% if table.header is not empty %}
                            <thead>
                                <tr>
                                    {% for th in table.header %}
                                        <th>{{ th.c }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                        {% endif %}

                        <tbody>
                            {% for tr in table.body %}
                                <tr>
                                    {% for td in tr %}
                                        <td>{{ td.c }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
			{% endif %}
		</div>
	</div>
</section>

