<section class="{{ block.slug }} bg-{{ fields.bg }} {{ fields.is_inverted ? "is-inverted" }}">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xl" %}
	{% set pb = fields.padding_bottom and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xl" %}

	<div class="container">
		<div class="{{ pt }} {{ pb }}">
			<div class="inner flex gap-[7.125rem] max-md:flex-col">
				<div class="item-images md:flex-1 md:basis-[42.75rem] max-md:hidden items-center relative flex">
					{% if fields.item|length %}
						{% for item in fields.item %}
                            <div class="item-image" data-index="{{ loop.index }}">
                                {% include 'components/image.twig' with {
                                    'image': item.item_image,
                                    'class': 'object-cover rounded-[0.5rem] overflow-hidden',
                                    'size': "large",
                                } %}
                            </div>
                        {% endfor %}
					{% endif %}
				</div>

				<div class="flex flex-col ~gap-[2.25rem]/[2.9375rem] md:flex-1 md:basis-[34.125rem]">
					{% if fields.heading %}
						{% include 'components/heading.twig' with {
                            'class': 'main-title',
                            'value': fields.heading.value, 
                            'type': fields.heading.type != "default" ? fields.heading.type : "h3",
                            'has_custom_style': fields.heading.has_custom_style,
                            'style': fields.heading.style,
                            'to_words': true
                        } %}
					{% endif %}

					{% if fields.item|length %}
						<div class="flex flex-col">
							{% for item in fields.item %}
								<div class="item ~pt-[1.25rem]/[1.5rem] ~pb-[0.625rem]/[0.75rem] last:pb-0 border-t-[0.0625rem] border-t-gray-2 flex flex-col gap-[0.75rem] cursor-pointer" data-index="{{ loop.index }}">
									<div class="flex flex-row gap-[1rem]">
										<small class="text-[0.75rem] text-black-60 relative top-[0.375rem]">{{ loop.index <= 9 ? '0' ~ loop.index : loop.index }}</small>
										{% if item.cffivt_title %}
											<p class="lg">{{ item.cffivt_title }}</p>
										{% endif %}
									</div>

									{% if item.paragraph %}
										<p>{{ item.paragraph }}</p>
									{% endif %}

									{% if item.item_image %}
										<div class="item-inner-image">
											{% include 'components/image.twig' with {
                                                'image': item.item_image,
                                                'class': 'object-cover rounded-[0.5rem] overflow-hidden',
                                                'size': [312, 332],
                                            } %}
										</div>
									{% endif %}
								</div>
							{% endfor %}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>

