<section class="{{ block.slug }} bg-{{ fields.bg }} overflow-x-clip overflow-y-visible">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xl" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xl" %}

    {% set arrowBG = fields.bg == 'white' ? 'bg-beige' : 'bg-white' %}

	<div class="container">
		<div class="{{ pt }} {{ pb }}">
			<div class="flex flex-col ~gap-[1.25rem]/[1.5rem]">
                <div class="w-full flex justify-between items-end ~gap-[1.25rem]/[1.5rem]">
                    {% if fields.heading %}
                        {% include 'components/heading.twig' with {
                            'class': 'main-title',
                            'value': fields.heading.value, 
                            'type': fields.heading.type != "default" ? fields.heading.type : "h3",
                            'has_custom_style': fields.heading.has_custom_style,
                            'style': fields.heading.style,
                            'to_words': true
                        } %}
                    {% endif %}
                    
                    <div class="max-lg:hidden flex shrink-0 gap-[0.75rem] max-lg:justify-between">
                        <div class="ar-l {{ arrowBG }}">
                            <svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 16.1123L7 10.1123L13 4.1123"/>
                            </svg>
                        </div>

                        <div class="ar-r {{ arrowBG }}">
                            <svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 4.1123L13 10.1123L7 16.1123"/>
                            </svg>
                        </div>
                    </div>
                </div>

				{% if fields.images|length %}
                    <div class="flex flex-col gap-[1.25rem]">
                        <div class="box relative">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    {% for index, item in fields.images %}
                                        {% if item.media_type == "is-image" and item.image %}
                                            <div class="swiper-slide">
                                                {% include 'components/image.twig' with {
                                                    'image': item.image,
                                                    'class': "h-full w-auto max-sm:w-full",
                                                    'size': "large",
                                                } %}
                                            </div>
                                        {% endif %}

                                        {% if item.media_type == "is-video" and item.video %}
                                            <div class="swiper-slide">
                                                <div class="video-container" data-video-id="{{ item.video }}">
                                                    <div class="video-thumbnail">
                                                        <div class="gradient-overlay"></div>
                                                        
                                                        <div class="video-play">
                                                            <svg class="h-[2.25rem] w-auto" width="36" height="37" viewbox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M6.375 7.33131V30.4433C6.375 32.1578 8.2155 33.2423 9.7155 32.4113L30.573 20.8553C32.1187 19.9988 32.1187 17.7758 30.573 16.9193L9.7155 5.36331C8.2155 4.53231 6.375 5.61681 6.375 7.33131Z" fill="white"/>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                            {% if not fields.hide_hover_orb %}
                                <div class="orb scale-0 opacity-0 absolute top-0 left-0 h-[4rem] w-[4rem] bg-[rgba(38,38,38,0.90)] rounded-[50%] overflow-hidden flex items-center justify-center text-center z-[2] pointer-events-none">
                                    <small class="text-white">{{ fields.hover_text ?: "Drag" }}</small>
                                </div>
                            {% endif %}
                        </div>

                        <div class="lg:hidden flex shrink-0 gap-[0.75rem] max-lg:justify-between">
                            <div class="ar-l {{ arrowBG }}">
                                <svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13 16.1123L7 10.1123L13 4.1123"/>
                                </svg>
                            </div>

                            <div class="ar-r {{ arrowBG }}">
                                <svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 4.1123L13 10.1123L7 16.1123"/>
                                </svg>
                            </div>
                        </div>
                    </div>
				{% endif %}
			</div>
		</div>
	</div>
</section>

