{% set title = fields['step_' ~ step ~ '_title'] %}
{% set description = fields['step_' ~ step ~ '_description'] %}

<div class="panel {{ step == 1 ? ' active' }}" data-step="{{ step }}">
    <div class="container">
        <div class="panel-inner">
            <div class="flex max-lg:flex-col ~gap-[1.5rem]/[4rem]">
                <div class="lg:basis-[19.375rem] flex flex-col gap-[3rem]">
                    {% if title or description %}
                        <div class="flex flex-col gap-[0.75rem]">
                            {% if title %}
                                <p class="lg">{{ title }}</p>
                            {% endif %}

                            {% if description %}
                                <p>{{ description }}</p>
                            {% endif %}
                        </div>
                    {% endif %}
                    
                    {% if step == 2 %}
                        <div class="flex flex-col gap-[0.75rem]">
                            <p class="sm">Robot</p>

                            <div class="robot-current"></div>
                        </div>
                    {% endif %}
                </div>

                <div class="lg:flex-1 lg:basis-[58.75rem]">
                    {% if step == 1 %}
                        {% if fields.robot_types|length %}
                            <div class="flex flex-col gap-[1.5rem]">
                                <div class="robot-types-container" data-key="{{ fields.step_1_robot_type_field_key }}">
                                    {% for rt in fields.robot_types %}
                                        {% if rt.robot_childs|length %}
                                            <div class="robot-type {{ loop.index == 1 ? " active" }}" data-type="{{ rt.robot_type_id }}">
                                                <p class="button"><span class="square"></span>{{ rt.robot_type_label }}</p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                <div class="jselect robot-types">
                                    <select>
                                        {% for rt in fields.robot_types %}
                                            {% if rt.robot_childs|length %}
                                                <option value="{{ rt.robot_type_id }}">
                                                    <p class="button">{{ rt.robot_type_label }}</p>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </select>

                                    <span class="square"></span>

                                    <div class="jselect-arrow">
                                        <svg class="h-auto w-full" width="9" height="5" viewbox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path class="stroke-[0.0625rem]" d="M1.14258 0.854169L4.5714 4.14584L8.00022 0.854169" stroke="#262626" stroke-miterlimit="10"/>
                                        </svg>
                                    </div>
                                </div>

                                <div class="robot-groups">
                                    {% for rt in fields.robot_types %}
                                        {% if rt.robot_childs|length %}
                                            <div class="robot-group {{ loop.index == 1 ? " active" }}" data-type="{{ rt.robot_type_id }}">
                                                {% for child in rt.robot_childs %}
                                                    {% set robot_data = {
                                                        name: child.robot_name,
                                                        subtext: child.robot_capacity,
                                                        image: child.robot_image,
                                                        prices: child.prices
                                                    } %}
                                                    
                                                    {% if child.prices|length %}
                                                        <div class="robot-child" data-robot='{{ robot_data|json_encode|e('html_attr') }}'>
                                                            {% if child.robot_image and function("does_image_exists_in_media", child.robot_image) %}
                                                                {% include 'components/image.twig' with {
                                                                    'image': child.robot_image,
                                                                    'class': 'object-contain h-[5.3125rem] w-[5.3125rem] shrink-0',
                                                                    'size': [85, 85],
                                                                } %}
                                                            {% else %}
                                                                <img class="object-contain h-[5.3125rem] w-[5.3125rem] shrink-0" src="{{ function("webp", "roi-robot-image") }}" loading="lazy" alt="{{ child.robot_name }}">
                                                            {% endif %}

                                                            <div class="flex-1 flex flex-col">
                                                                {% if child.robot_name %}
                                                                    <p class="robot-name">{{ child.robot_name }}</p>
                                                                {% endif %}

                                                                {% if child.robot_capacity %}
                                                                    <p class="xs text-black-60">{{ child.robot_capacity }}</p>
                                                                {% endif %}
                                                            </div>

                                                            <div class="robot-check">
                                                                <svg class="w-[1.25rem] h-auto" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <rect x="1" y="1" width="18" height="18" rx="3" fill="#1263FF"/>
                                                                    <rect class="stroke-[0.125rem]" x="1" y="1" width="18" height="18" rx="3" stroke="#1263FF" stroke-width="2"/>
                                                                    <path class="stroke-[0.125rem]" d="M4 10L8.5 14L16 6" stroke="white" stroke-width="2"/>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}

                                                <div class="robot-children-empty">
                                                    <h6>No robots found.</h6>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                    {% elseif step == 2 or step == 3 %}
                        {% set form_fields = fields['step_' ~ step ~ '_fields'] %}
                        
                        {% if form_fields|length %}
                            <div class="ffs">
                                {% for item in form_fields %}
                                    {% if item.ff_is_currency %}
                                        {% set currency_data = [] %}

                                        {% for fcv in item.ff_currency_values %}
                                            {% set currency_data = currency_data|merge({
                                                (fcv.ff_currency_type): { min: fcv.ff_min_curr, max: fcv.ff_max_curr }
                                            }) %}
                                        {% endfor %}
                                    {% endif %}

                                    {% set min = item.ff_is_currency ? item.ff_currency_values[0].ff_min_curr : item.ff_values.ff_min %}
                                    {% set max = item.ff_is_currency ? item.ff_currency_values[0].ff_max_curr : item.ff_values.ff_max %}
                                    
                                    <div class="ff {{ item.ff_is_currency ? "is-currency" }}" data-key="{{ item.ff_key }}" {{ currency_data ? "data-currency='" ~ currency_data | json_encode | raw ~ "'" }}>
                                        <div class="ff-head">
                                            <div class="ff-label flex gap-[0.75rem] items-center">
                                                <p>{{ item.ff_name }}</p>

                                                {% if item.ff_has_tooltip and item.ff_tooltip %}
                                                    <div class="ff-tooltip">
                                                        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <g clip-path="url(#clip0_15_1913)">
                                                                <path d="M7.99996 1.45996C4.09596 1.45996 0.959961 4.59596 0.959961 8.49996C0.959961 12.404 4.09596 15.54 7.99996 15.54C11.904 15.54 15.04 12.404 15.04 8.49996C15.04 4.59596 11.904 1.45996 7.99996 1.45996Z" stroke="#B6B5B1" stroke-miterlimit="10" stroke-linecap="round"/>
                                                                <path d="M8.00004 5.94002C8.53023 5.94002 8.96004 5.51021 8.96004 4.98002C8.96004 4.44983 8.53023 4.02002 8.00004 4.02002C7.46985 4.02002 7.04004 4.44983 7.04004 4.98002C7.04004 5.51021 7.46985 5.94002 8.00004 5.94002Z" fill="#B6B5B1"/>
                                                                <path d="M8.64021 12.02V7.21997H6.72021V7.85997H7.36021V12.02H6.72021V12.66H9.28021V12.02H8.64021Z" fill="#B6B5B1"/>
                                                            </g>
                                                            <defs>
                                                                <clipPath id="clip0_15_1913">
                                                                    <rect width="16" height="16" fill="white" transform="translate(0 0.5)"/>
                                                                </clipPath>
                                                            </defs>
                                                        </svg>

                                                        <div class="ff-tooltip-inner">
                                                            <p class="xs">{{ item.ff_tooltip }}</p>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>

                                            <div class="ff-default">
                                                <input type="number" required value="{{ item.ff_default_value }}" min="{{ item.ff_values.ff_min }}" max="{{ item.ff_values.ff_max }}">
                                            </div>
                                        </div>

                                        <div class="ff-body">
                                            <div class="ff-slider" data-min="{{ min }}" data-max="{{ max }}" data-default="{{ item.ff_default_value }}">
                                                <div class="ff-handle ui-slider-handle">
                                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8Z" fill="#1263FF"/>
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.70711 8L6.35355 6.35355L5.64645 5.64645L3.29289 8L5.64645 10.3536L6.35355 9.64645L4.70711 8Z" fill="white"/>
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2929 8L9.64645 6.35355L10.3536 5.64645L12.7071 8L10.3536 10.3536L9.64645 9.64645L11.2929 8Z" fill="white"/>
                                                    </svg>
                                                </div>

                                                <div class="ff-slider-lines">
                                                    {% for line in 1..11 %}
                                                        <div class="ff-slider-line"></div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="ff-guides">
                                                <p class="xs text-black-60">{{ item.ff_is_currency ? '<span class="prefix">$</span> ' }}<span class="min">{{ min }}</span> <span class="suffix">{{ item.ff_suffixes.ff_min_suffix }}</span></p>
                                                <p class="xs text-black-60">{{ item.ff_is_currency ? '<span class="prefix">$</span> ' }}<span class="max">{{ max }}</span> <span class="suffix">{{ item.ff_suffixes.ff_max_suffix }}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                    {% elseif step == 4 %}
                        {% set region = fields.hubspot_form.region %}
                        {% set form_id = fields.hubspot_form.form_id %}
                        {% set portal_id = fields.hubspot_form.portal_id %}
                        {% set lang_code = function("get_language") %}

                        {% if lang_code != "en" %}
                            {% set form_id = fields.hubspot_form["form_id_" ~ lang_code] ?: fields.hubspot_form.form_id %}
                        {% endif %}

                        {% if region and form_id and portal_id %}
                            <div class="form-container roi-calc" data-region="{{ region }}" data-form-id="{{ form_id }}" data-portal-id="{{ portal_id }}"></div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="w-full flex justify-between">
                {% if step != 1 %}
                    <div class="back-btn btn has-border blue has-arrow">
                        <svg class="scale-x-[-1]" width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.55697 10.375L11.8486 6.94618L8.55697 3.51736" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                            <path d="M1.01411 0.500006L1.0141 5.84896C1.0141 6.45463 1.50566 6.94618 2.11133 6.94618L11.9863 6.94618" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                        </svg>

                        <p>{{ fields.back_button_label }}</p>
                    </div>
                {% endif %}
                
                {% if step != 4 %}
                    <div class="next-btn btn filled blue has-arrow ml-auto {{ step == 1 ? "disabled" }}">
                        <svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.55697 10.375L11.8486 6.94618L8.55697 3.51736" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                            <path d="M1.01411 0.500006L1.0141 5.84896C1.0141 6.45463 1.50566 6.94618 2.11133 6.94618L11.9863 6.94618" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                        </svg>

                        <p>{{ fields.continue_button_label }}</p>
                    </div>
                {% endif %}

                {% if step == 4 %}
                    <div class="view-results">
                        <div class="btn filled blue has-arrow">
                            <svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.55697 10.375L11.8486 6.94618L8.55697 3.51736" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                                <path d="M1.01411 0.500006L1.0141 5.84896C1.0141 6.45463 1.50566 6.94618 2.11133 6.94618L11.9863 6.94618" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                            </svg>

                            <p>{{ fields.view_results_button_label }}</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>