<section class="{{ block.slug }} bg-{{ fields.bg }}">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xl" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xl" %}

	<div class="container">
		<div class="{{ pt }} {{ pb }}">
			<div class="flex flex-col ~gap-[2.25rem]/[3rem]">
				<div class="w-full flex justify-between items-end">
					<div class="max-w-[48.3125rem] flex flex-col ~gap-[1.25rem]/[1.5rem]">
						{% if fields.heading or fields.eyebrow %}
							{% include 'components/heading.twig' with {
                                'class': 'main-title',
                                'value': fields.heading.value, 
                                'type': fields.heading.type != "default" ? fields.heading.type : "h3",
                                'has_custom_style': fields.heading.has_custom_style,
                                'style': fields.heading.style,
                                'insert_eyebrow': fields.eyebrow ? true : false,
                                'eyebrow': fields.eyebrow,
                                'to_words': true
                            } %}
						{% endif %}

						{% if fields.paragraph %}
							<p class="para-desc">{{ fields.paragraph }}</p>
						{% endif %}
					</div>
				</div>

				<div class="map-container" data-style="{{ function("json", "map/style") }}"></div>

                <div class="flex gap-[4rem]">
                    <div class="flex flex-1 basis-[19.875rem]">

                    </div>

                    <div class="flex-1 basis-[60.1875rem]">

                    </div>
                </div>
			</div>
		</div>
	</div>
</section>

