<section class="{{ block.slug }} bg-{{ fields.bg }}">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xl" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xl" %}

	{% set arrowBG = fields.bg == 'white' ? 'bg-beige' : 'bg-white' %}

	{% set col_count = fields.rows[0].cell|length %}
	{% set has_overflow = col_count > 4 %}

	<div class="container">
		<div class="{{ pt }} {{ pb }}">
			<div class="flex flex-col ~gap-[1.25rem]/[1.5rem]">
				{% if fields.rows|length or fields.heading %}
					<div class="flex ~gap-[1.25rem]/[1.5rem] justify-between items-center">
						{% if fields.heading %}
							{% include 'components/heading.twig' with {
                                'class': 'main-title',
                                'value': fields.heading.value, 
                                'type': fields.heading.type != "default" ? fields.heading.type : "h5",
                                'has_custom_style': fields.heading.has_custom_style,
                                'style': fields.heading.style,
                                'to_words': true
                            } %}
						{% endif %}

						{% if fields.rows|length %}
							<div class="max-lg:hidden flex shrink-0 gap-[0.75rem] max-lg:justify-between">
								<div class="ar-l for-table active {{ arrowBG }}">
									<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M13 16.1123L7 10.1123L13 4.1123"/>
									</svg>
								</div>

								<div class="ar-r for-table active {{ arrowBG }}">
									<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M7 4.1123L13 10.1123L7 16.1123"/>
									</svg>
								</div>
							</div>
						{% endif %}
					</div>
				{% endif %}

				{% if fields.rows|length %}
					<div class="lg:hidden">
						<div class="flex items-center gap-[1.5rem]">
							<p class="lg flex-1">
								{% for row in fields.rows %}
									{% if row.cell|length and loop.index == 1 %}
										{% for cell in row.cell %}
											{% if cell.type == 'heading' and loop.index == 1 %}
												{% if cell.cc_cell_title %}
													{{ cell.cc_cell_title }}
												{% endif %}
											{% endif %}
										{% endfor %}
									{% endif %}
								{% endfor %}
							</p>

							<div class="flex shrink-0 gap-[0.75rem]">
								<div class="ar-l sm {{ arrowBG }}">
									<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M13 16.1123L7 10.1123L13 4.1123"/>
									</svg>
								</div>

								<div class="ar-r sm {{ arrowBG }}">
									<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M7 4.1123L13 10.1123L7 16.1123"/>
									</svg>
								</div>
							</div>
						</div>

						<div class="relative">
							<div class="swiper-container overflow-hidden">
								<div class="swiper-wrapper">
									{% for col_index in 1..col_count-1 %}
										<div class="swiper-slide">
											{% for row in fields.rows %}
												{% if row.cell|length %}
													{% set cell = row.cell[col_index] %}
													{% set cta = cell.cta %}

													{% if cell.type == 'heading' %}
														<div class="cell head">
															{% if cell.image %}
																<div class="h-[7.625rem] w-full max-w-[7.875rem]">
																	{% include 'components/image.twig' with {
                                                                        'image': cell.image,
                                                                        'class': "object-contain mix-blend-multiply",
                                                                        'size': "medium",
                                                                    } %}
																</div>
															{% endif %}

															{% if cell.cc_cell_title %}
																<p class="lg">{{ cell.cc_cell_title }}</p>
															{% endif %}

															{% if cta %}
																{% set link_url = cta.url ?: "#" %}
																{% set link_title = cta.title %}
																{% set link_target = cta.target ?: "_self" %}

																<a class="text-blue underline-offset-[0.125rem] hover:underline decoration-[0.0625rem]" href="{{ link_url }}" target="{{ link_target }}">
																	<p>{{ link_title }}</p>
																</a>
															{% endif %}
														</div>
													{% else %}
														<div class="cell content">
															{% if cell.paragraph %}
																<p class="whitespace-pre-line">{{ cell.paragraph }}</p>
															{% endif %}
														</div>
													{% endif %}
												{% endif %}
											{% endfor %}
										</div>
									{% endfor %}
								</div>
							</div>

							<div class="cell-guides">
								{% for row in fields.rows %}
									{% if row.cell|length %}
										{% for cell in row.cell %}
											{% if cell.type != 'heading' and loop.index == 1 %}
												{% if cell.paragraph %}
													<div class="cell-guide">
														<p>{{ cell.paragraph }}</p>
													</div>
												{% endif %}
											{% endif %}
										{% endfor %}
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>

					<div class="table-outer max-lg:hidden">
						<table class="{{ has_overflow ? "has-overflow" }}" cellpadding="0" cellspacing="0" and border="0" style="min-width: {{ has_overflow ? col_count * 21 ~ "rem" : "auto" }}">
							{% for row in fields.rows %}
								{% if row.cell|length %}
									<tr>
										{% for cell in row.cell %}
											{% set width = 100 / loop.length %}
											{% set cta = cell.cta %}

											{% if cell.type == 'heading' %}
												<th width="{{ width }}%">
													<div class="cell">
														{% if cell.image %}
															<div class="h-[7.625rem] w-full max-w-[7.875rem]">
																{% include 'components/image.twig' with {
                                                                    'image': cell.image,
                                                                    'class': "object-contain mix-blend-multiply",
                                                                    'size': "medium",
                                                                } %}
															</div>
														{% endif %}

														{% if cell.cc_cell_title %}
															<p class="lg">{{ cell.cc_cell_title }}</p>
														{% endif %}

														{% if cta %}
															{% set link_url = cta.url ?: "#" %}
															{% set link_title = cta.title %}
															{% set link_target = cta.target ?: "_self" %}

															<a class="text-blue underline-offset-[0.125rem] hover:underline decoration-[0.0625rem]" href="{{ link_url }}" target="{{ link_target }}">
																<p>{{ link_title }}</p>
															</a>
														{% endif %}
													</div>
												</th>
											{% else %}
												<td>
													<div class="cell">
														{% if cell.paragraph %}
															<p class="whitespace-pre-line">{{ cell.paragraph }}</p>
														{% endif %}
													</div>
												</td>
											{% endif %}
										{% endfor %}
									</tr>
								{% endif %}
							{% endfor %}
						</table>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>

